# Week 1 review

---

### Topics (ranked by pain):

- Dicts in dicts: 7 
- Nested list comprehensions: 6
- Data in dictionary format: 1
- Lists to dictionaries: 1
- Summarization of data: 1
- Quotes in strings: 1
- Layering of fundamentals: 1
- Choice of method: 1
- General numpy: 1
- Arrays vs. lists: 1 
- Using pandas:

---

### Packages

In [7]:
import csv
import numpy as np
import pandas as pd

## Car dataset

In [8]:
# my path - put your specific one in place of this

In [9]:
car_filename = '/Users/kiefer/github-repos/DSI-SF-2/datasets/used_cars/used_cars.csv'

In [10]:
students = ['Denise','Alex','Alex K', 'Carlos', 'Vanessa','Ryan','Cecilia','Tim',
            'Kat','Kyle','Divya','Amos','Caitlin','Lenny','Ovid','Chris',
            'Nick','Paul','Daniel','Edward','Nivetha','Nicholle']

print len(students)

22

### The order of cold-calls:

In [11]:
victims = np.random.choice(students, size=len(students), replace=False).tolist()
# victims.astype()

In [13]:
a = np.array([1,2])
a.astype(float)

array([ 1.,  2.])

In [6]:
# load data:

with open(car_filename, 'r') as f:
    reader = csv.reader(f)
    rows = [row for row in reader]

In [14]:
# draw a list of lists with 2 columns and 2 rows
#(list of list representation) of a csv

In [15]:
victims.pop()

'Alex K'

In [18]:
rows

[['price', 'year', 'miles', 'doors', 'type'],
 ['22000', '2012', '13000', '2', 'car'],
 ['14000', '2010', '30000', '2', 'car'],
 ['13000', '2010', '73500', '4', 'car'],
 ['9500', '2009', '78000', '4', 'car'],
 ['9000', '2007', '47000', '4', 'car'],
 ['4000', '2006', '124000', '2', 'car'],
 ['3000', '2004', '177000', '4', 'car'],
 ['2000', '2004', '209000', '4', 'truck'],
 ['3000', '2003', '138000', '2', 'car'],
 ['1900', '2003', '160000', '4', 'car'],
 ['2500', '2003', '190000', '2', 'truck'],
 ['5000', '2001', '62000', '4', 'car'],
 ['1800', '1999', '163000', '2', 'truck'],
 ['1300', '1997', '138000', '4', 'car']]

In [19]:
# Example output from print:
#
# {1: {'gyms_visited': ['amazon.com', 'ebay.com'],
#      'player_name': 'Ash',
#      'player_pokemon': {},
#      'time_played': 0.0}}

In [20]:
victims.pop()

'Kat'

In [21]:
pokedex = {}
pokedex[1] = {
    'gyms_visited': ['amazon.com', 'ebay.com'],
    'player_name': 'Ash',
    'player_pokemon': {},
    'time_played': 0.0 
}
pokedex

{1: {'gyms_visited': ['amazon.com', 'ebay.com'],
  'player_name': 'Ash',
  'player_pokemon': {},
  'time_played': 0.0}}

In [23]:
# Get out the first gym visited for player 1 and assign to variable

In [24]:
victims.pop()

'Alex'

In [27]:
first_gym = pokedex[1]['gyms_visited'][0]
first_gym

'amazon.com'

In [28]:
# add another player to the pokedex dictionary
victims.pop()

'Kyle'

In [29]:
print pokedex

{1: {'time_played': 0.0, 'gyms_visited': ['amazon.com', 'ebay.com'], 'player_name': 'Ash', 'player_pokemon': {}}}

In [30]:
pokedex [2] = {
    'gyms_visited': ['amazon.com', 'ebay.com'],
    'player_name': 'kylemullet',
    'player_pokemon': {},
    'time_played': 48923879.}

In [31]:
pokedex

{1: {'gyms_visited': ['amazon.com', 'ebay.com'],
  'player_name': 'Ash',
  'player_pokemon': {},
  'time_played': 0.0},
 2: {'gyms_visited': ['amazon.com', 'ebay.com'],
  'player_name': 'kylemullet',
  'player_pokemon': {},
  'time_played': 48923879.0}}

In [32]:
# print out:
# name of player, and gyms visited for that player
# for all players

# .items() --> returns keys and values
# .keys() --> returns keys
# .values() --> returns values
victims.pop()

'Nick'

In [34]:
victims.pop()

'Daniel'

In [40]:
for j in pokedex:
    player = pokedex[j]
    print player['player_name'], player['gyms_visited']
#    print player['player_name'],player['gyms_visited']
#     for h in player:
#         print h['player_name'],h['gyms_visited']

Ash ['amazon.com', 'ebay.com']
kylemullet ['amazon.com', 'ebay.com']

In [42]:
pokedex

{1: {'gyms_visited': ['amazon.com', 'ebay.com'],
  'player_name': 'Ash',
  'player_pokemon': {},
  'time_played': 0.0},
 2: {'gyms_visited': ['amazon.com', 'ebay.com'],
  'player_name': 'kylemullet',
  'player_pokemon': {},
  'time_played': 48923879.0}}

In [48]:
for player_key, player_dictionary in pokedex.items():
    print 'Current player key:', player_key
    print 'Players info dictionary:', player_dictionary
    print 'Look up players name:', player_dictionary['player_name']
    print 'Look up gyms visited:', player_dictionary['gyms_visited']
    print '-------------------------------------\n'

Current player key: 1
Players info dictionary: {'time_played': 0.0, 'gyms_visited': ['amazon.com', 'ebay.com'], 'player_name': 'Ash', 'player_pokemon': {}}
Look up players name: Ash
Look up gyms visited: ['amazon.com', 'ebay.com']
-------------------------------------

Current player key: 2
Players info dictionary: {'time_played': 48923879.0, 'gyms_visited': ['amazon.com', 'ebay.com'], 'player_name': 'kylemullet', 'player_pokemon': {}}
Look up players name: kylemullet
Look up gyms visited: ['amazon.com', 'ebay.com']
-------------------------------------

In [52]:
players = [
    ['ash', 
     ['amazon.com', 'ebay.com']
    ],
    ['kyle', 
     ['stackoverflow.com', 'github.com']
    ]
]

In [53]:
# For each player, print the players name and gyms visited
victims.pop()

'Tim'

In [57]:
for i in players:
    print i[0], 'has visited: ', i[1]

ash has visited:  ['amazon.com', 'ebay.com']
kyle has visited:  ['stackoverflow.com', 'github.com']

In [58]:
# explain the aboce:
victims.pop()

'Caitlin'

In [59]:
# players item 1:
players[1]

['kyle', ['stackoverflow.com', 'github.com']]

In [61]:
players[1][0]

'kyle'

In [62]:
players[1][1][1]

'github.com'

In [63]:
cars = rows

In [64]:
cars

[['price', 'year', 'miles', 'doors', 'type'],
 ['22000', '2012', '13000', '2', 'car'],
 ['14000', '2010', '30000', '2', 'car'],
 ['13000', '2010', '73500', '4', 'car'],
 ['9500', '2009', '78000', '4', 'car'],
 ['9000', '2007', '47000', '4', 'car'],
 ['4000', '2006', '124000', '2', 'car'],
 ['3000', '2004', '177000', '4', 'car'],
 ['2000', '2004', '209000', '4', 'truck'],
 ['3000', '2003', '138000', '2', 'car'],
 ['1900', '2003', '160000', '4', 'car'],
 ['2500', '2003', '190000', '2', 'truck'],
 ['5000', '2001', '62000', '4', 'car'],
 ['1800', '1999', '163000', '2', 'truck'],
 ['1300', '1997', '138000', '4', 'car']]

In [65]:
# using a list comprehension, get the price of the cars, excluding the header
#
victims.pop()

'Carlos'

In [66]:
my_list_of_Prices = []
header = cars[0]
data = cars[1:]

my_list_of_Prices = [row[0] for row in data]
my_list_of_Prices

['22000',
 '14000',
 '13000',
 '9500',
 '9000',
 '4000',
 '3000',
 '2000',
 '3000',
 '1900',
 '2500',
 '5000',
 '1800',
 '1300']

In [67]:
prices = [car[0] for car in cars]

In [70]:
prices = []
for car in cars:
    prices.append(car[0])
    print prices
    print '--------------------------------\n'

['price']
--------------------------------

['price', '22000']
--------------------------------

['price', '22000', '14000']
--------------------------------

['price', '22000', '14000', '13000']
--------------------------------

['price', '22000', '14000', '13000', '9500']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000', '3000']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000', '3000', '1900']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000', '3000', '1900', '2500']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000', '3000', '1900', '2500', '5000']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000', '3000', '1900', '2500', '5000', '1800']
--------------------------------

['price', '22000', '14000', '13000', '9500', '9000', '4000', '3000', '2000', '3000', '1900', '2500', '5000', '1800', '1300']
--------------------------------

In [71]:
cars

[['price', 'year', 'miles', 'doors', 'type'],
 ['22000', '2012', '13000', '2', 'car'],
 ['14000', '2010', '30000', '2', 'car'],
 ['13000', '2010', '73500', '4', 'car'],
 ['9500', '2009', '78000', '4', 'car'],
 ['9000', '2007', '47000', '4', 'car'],
 ['4000', '2006', '124000', '2', 'car'],
 ['3000', '2004', '177000', '4', 'car'],
 ['2000', '2004', '209000', '4', 'truck'],
 ['3000', '2003', '138000', '2', 'car'],
 ['1900', '2003', '160000', '4', 'car'],
 ['2500', '2003', '190000', '2', 'truck'],
 ['5000', '2001', '62000', '4', 'car'],
 ['1800', '1999', '163000', '2', 'truck'],
 ['1300', '1997', '138000', '4', 'car']]

In [72]:
# using a filter statement in a list comprehension
# create a list of doors excluding the header
# you have to iterate through cars, not data (which already has the header
# taken out).
victims.pop()

'Cecilia'

In [76]:
list_of_doors = [line[3] for line_no, line in enumerate(cars) if line_no>0]
print list_of_doors

['2', '2', '4', '4', '4', '2', '4', '4', '2', '4', '2', '4', '2', '4']

In [77]:
# using list comprehension
# create cars_parsed
# where the numeric values have been converted to floats
victims.pop()

'Ryan'

In [82]:
cars

x = [
    # SELECTOR:
    [
     float(cell) if cell.isdigit() 
     else cell 
     for cell in row # internal list comprehension iterator
    ] 
    for row in cars # FROM iterator
    if True
]
x

[['price', 'year', 'miles', 'doors', 'type'], [22000.0, 2012.0, 13000.0, 2.0, 'car'], [14000.0, 2010.0, 30000.0, 2.0, 'car'], [13000.0, 2010.0, 73500.0, 4.0, 'car'], [9500.0, 2009.0, 78000.0, 4.0, 'car'], [9000.0, 2007.0, 47000.0, 4.0, 'car'], [4000.0, 2006.0, 124000.0, 2.0, 'car'], [3000.0, 2004.0, 177000.0, 4.0, 'car'], [2000.0, 2004.0, 209000.0, 4.0, 'truck'], [3000.0, 2003.0, 138000.0, 2.0, 'car'], [1900.0, 2003.0, 160000.0, 4.0, 'car'], [2500.0, 2003.0, 190000.0, 2.0, 'truck'], [5000.0, 2001.0, 62000.0, 4.0, 'car'], [1800.0, 1999.0, 163000.0, 2.0, 'truck'], [1300.0, 1997.0, 138000.0, 4.0, 'car']]

In [84]:
header = cars[0]
data_row1 = cars[1]

In [86]:
print [float(cell) if cell.isdigit() else cell for cell in header]
print [float(cell) if cell.isdigit() else cell for cell in data_row1]

['price', 'year', 'miles', 'doors', 'type']
[22000.0, 2012.0, 13000.0, 2.0, 'car']

In [87]:
# Do the same thing with for loops
victims.pop()

'Chris'

In [129]:
parsed_cars2 = []

for row in cars:
    temp_row = []
    for item in row:
        if item.isdigit():
            temp_row.append(float(item))
        else:
            temp_row.append(item)
    parsed_cars2.append(temp_row)
    
parsed_cars2

[['price', 'year', 'miles', 'doors', 'type'],
 [22000.0, 2012.0, 13000.0, 2.0, 'car'],
 [14000.0, 2010.0, 30000.0, 2.0, 'car'],
 [13000.0, 2010.0, 73500.0, 4.0, 'car'],
 [9500.0, 2009.0, 78000.0, 4.0, 'car'],
 [9000.0, 2007.0, 47000.0, 4.0, 'car'],
 [4000.0, 2006.0, 124000.0, 2.0, 'car'],
 [3000.0, 2004.0, 177000.0, 4.0, 'car'],
 [2000.0, 2004.0, 209000.0, 4.0, 'truck'],
 [3000.0, 2003.0, 138000.0, 2.0, 'car'],
 [1900.0, 2003.0, 160000.0, 4.0, 'car'],
 [2500.0, 2003.0, 190000.0, 2.0, 'truck'],
 [5000.0, 2001.0, 62000.0, 4.0, 'car'],
 [1800.0, 1999.0, 163000.0, 2.0, 'truck'],
 [1300.0, 1997.0, 138000.0, 4.0, 'car']]

In [130]:
cars_parsed = parsed_cars2

In [98]:
# convert cars_parsed to dictionary format
# keys are the column names
# rows are the column_values
victims.pop()

'Vanessa'

In [107]:
victims.pop()

'Nicholle'

In [111]:
victims.pop()

'Nivetha'

In [94]:
row

['1300', '1997', '138000', '4', 'car']

In [126]:
cars_dict = {
    'price': [price[0] for price in cars_parsed], 
    'years' : [years[1] for years in cars_parsed],
    'miles' : [miles[2] for miles in cars_parsed],
    'doors' : [doors[3] for doors in cars_parsed],
    'type' : [ctype[4] for ctype in cars_parsed]
}

cars_dict

{'doors': [2.0, 4.0, 4.0, 4.0, 2.0, 4.0, 4.0, 2.0, 4.0, 2.0, 4.0, 2.0, 4.0],
 'miles': [30000.0,
  73500.0,
  78000.0,
  47000.0,
  124000.0,
  177000.0,
  209000.0,
  138000.0,
  160000.0,
  190000.0,
  62000.0,
  163000.0,
  138000.0],
 'price': [14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0],
 'type': ['car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'truck',
  'car',
  'car',
  'truck',
  'car',
  'truck',
  'car'],
 'years': [2010.0,
  2010.0,
  2009.0,
  2007.0,
  2006.0,
  2004.0,
  2004.0,
  2003.0,
  2003.0,
  2003.0,
  2001.0,
  1999.0,
  1997.0]}

In [128]:
cars_parsed

[[14000.0, 2010.0, 30000.0, 2.0, 'car'],
 [13000.0, 2010.0, 73500.0, 4.0, 'car'],
 [9500.0, 2009.0, 78000.0, 4.0, 'car'],
 [9000.0, 2007.0, 47000.0, 4.0, 'car'],
 [4000.0, 2006.0, 124000.0, 2.0, 'car'],
 [3000.0, 2004.0, 177000.0, 4.0, 'car'],
 [2000.0, 2004.0, 209000.0, 4.0, 'truck'],
 [3000.0, 2003.0, 138000.0, 2.0, 'car'],
 [1900.0, 2003.0, 160000.0, 4.0, 'car'],
 [2500.0, 2003.0, 190000.0, 2.0, 'truck'],
 [5000.0, 2001.0, 62000.0, 4.0, 'car'],
 [1800.0, 1999.0, 163000.0, 2.0, 'truck'],
 [1300.0, 1997.0, 138000.0, 4.0, 'car']]

In [132]:
header = cars_parsed[0] 
values = cars_parsed[1:]  
cars_dict = {} 
for head in header: 
    cars_dict[head] = [value[0] for value in values]
    
cars_dict

{'doors': [22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0],
 'miles': [22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0],
 'price': [22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0],
 'type': [22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0],
 'year': [22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0]}

In [133]:
zip(*cars_parsed)

[('price',
  22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0),
 ('year',
  2012.0,
  2010.0,
  2010.0,
  2009.0,
  2007.0,
  2006.0,
  2004.0,
  2004.0,
  2003.0,
  2003.0,
  2003.0,
  2001.0,
  1999.0,
  1997.0),
 ('miles',
  13000.0,
  30000.0,
  73500.0,
  78000.0,
  47000.0,
  124000.0,
  177000.0,
  209000.0,
  138000.0,
  160000.0,
  190000.0,
  62000.0,
  163000.0,
  138000.0),
 ('doors',
  2.0,
  2.0,
  4.0,
  4.0,
  4.0,
  2.0,
  4.0,
  4.0,
  2.0,
  4.0,
  2.0,
  4.0,
  2.0,
  4.0),
 ('type',
  'car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'truck',
  'car',
  'car',
  'truck',
  'car',
  'truck',
  'car')]

In [131]:
# 1+(5*5) steps: dict creation, enumerate header + k:v assignment

# 1 + (rows * 2)
{cars_parsed[column[0]]:column[1:] for column in zip(*cars_parsed)}

{'doors': (2.0,
  2.0,
  4.0,
  4.0,
  4.0,
  2.0,
  4.0,
  4.0,
  2.0,
  4.0,
  2.0,
  4.0,
  2.0,
  4.0),
 'miles': (13000.0,
  30000.0,
  73500.0,
  78000.0,
  47000.0,
  124000.0,
  177000.0,
  209000.0,
  138000.0,
  160000.0,
  190000.0,
  62000.0,
  163000.0,
  138000.0),
 'price': (22000.0,
  14000.0,
  13000.0,
  9500.0,
  9000.0,
  4000.0,
  3000.0,
  2000.0,
  3000.0,
  1900.0,
  2500.0,
  5000.0,
  1800.0,
  1300.0),
 'type': ('car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'car',
  'truck',
  'car',
  'car',
  'truck',
  'car',
  'truck',
  'car'),
 'year': (2012.0,
  2010.0,
  2010.0,
  2009.0,
  2007.0,
  2006.0,
  2004.0,
  2004.0,
  2003.0,
  2003.0,
  2003.0,
  2001.0,
  1999.0,
  1997.0)}

In [124]:
cars_parsed = cars_parsed[1:]
cars_parsed

[[14000.0, 2010.0, 30000.0, 2.0, 'car'],
 [13000.0, 2010.0, 73500.0, 4.0, 'car'],
 [9500.0, 2009.0, 78000.0, 4.0, 'car'],
 [9000.0, 2007.0, 47000.0, 4.0, 'car'],
 [4000.0, 2006.0, 124000.0, 2.0, 'car'],
 [3000.0, 2004.0, 177000.0, 4.0, 'car'],
 [2000.0, 2004.0, 209000.0, 4.0, 'truck'],
 [3000.0, 2003.0, 138000.0, 2.0, 'car'],
 [1900.0, 2003.0, 160000.0, 4.0, 'car'],
 [2500.0, 2003.0, 190000.0, 2.0, 'truck'],
 [5000.0, 2001.0, 62000.0, 4.0, 'car'],
 [1800.0, 1999.0, 163000.0, 2.0, 'truck'],
 [1300.0, 1997.0, 138000.0, 4.0, 'car']]