# Practice pandas data manipulation

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#### 1. Load the Mad Men cast show data into a pandas DataFrame

In [1]:
cast_data = '../../../../datasets/mad_men_actors/mad-men-cast-show-data.csv'

#### 2. Print the head and tail of the data

#### 3. Print the columns of the data

#### 4. Rename any columns with spaces or special characters to not have them

#### 5. Subset the data where the status of the show is not "END" or "End"

#### 6. Print out the performers where the show start is greater than 2005 and the score is greater than 7.

#### 7. Select the performer and show column for the 20th thru 25th LABELED row.

#### 8. Plot a histogram of score

In [2]:
import pandas as pd

In [3]:
colnames = ['$col','&col2','%col3','#col4','col5']

In [9]:
df = pd.DataFrame({k:[1,2] for k in colnames})

In [10]:
print(df)

   #col4  $col  %col3  &col2  col5
0      1     1      1      1     1
1      2     2      2      2     2

In [11]:
for col in colnames:
    print [x in col for x in ['$','&','%','#']]
    print any([x in col for x in ['$','&','%','#']])
    if any([x in col for x in ['$','&','%','#']]):
        newcol = ''.join([x for x in col if x not in ['$','&','%','#']])
        print newcol
        df.rename(columns={col:newcol}, inplace=True)

[True, False, False, False]
True
col
[False, True, False, False]
True
col2
[False, False, True, False]
True
col3
[False, False, False, True]
True
col4
[False, False, False, False]
False

In [12]:
print(df)

   col4  col  col3  col2  col5
0     1    1     1     1     1
1     2    2     2     2     2