# Iteration in python

To practice iteration (and more) in python, we will first load in a dataset on coffee ratings from the datasets folder. This way, you can start getting practice dealing with data files while also refreshing your memory of python programming.

---

### 1. Load in the data

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [76]:
with open('../../../../datasets/coffee_preferences/dat12-coffee-preferences.csv','r') as f:
    lines = f.readlines()

---

### 2. Examine the `lines` object

Print out lines (if you just run the cell with `lines` and no `print` statement it will format it better). 

What things we can see right off the bat about the data?

In [77]:
lines

# 1. There are still '\n' newline characters that were not removed by .readlines()
# 2. Many people have missing ratings for different coffee brands.

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 3. Remove the remaining newline `'\n'` characters with a for-loop

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

In [78]:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n',''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 4. Split the lines into "header" and "data" variables

The header is the first string in the list of strings. It contains the column names of our data.

In [90]:
header = cleaned_lines[0]
data = cleaned_lines[1:]

---

### 5. Split the header and the data strings on commas

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [91]:
# split on commas
header = header.split(',')
print header

split_data = []
for d in data:
    split_data.append(d.split(','))

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

---

### 6. Remove the "Timestamp" column

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header is simple and can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [92]:
# remove Timestamp:
header = header[1:]
data_nots = []
for row in split_data:
    data_nots.append(row[1:])

In [93]:
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 7. Convert numeric columns to floats and empty fields to None

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well!

Print out the new data object to make sure it worked.

In [94]:
# convert numeric columns to floats, empty fields to None
data_num = []
for row in data_nots:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        else:
            if col == '':
                new_row.append(None)
            else:
                new_row.append(float(col))
    data_num.append(new_row)

In [95]:
data_num

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 8. Count the `None` values per person

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [96]:
user_nones = {}
for row in data_num:
    nones = 0
    for cell in row:
        if cell == None:
            nones += 1
    user_nones[row[0]] = nones
    
user_nones

# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

{'Ajay Anand': 4,
 'Alessandro': 3,
 'Alex': 6,
 'Alison': 3,
 'April': 3,
 'Dave H': 6,
 'David Feng': 1,
 'Deepthi': 5,
 'Hugh Jass': 0,
 'India': 2,
 'Isabel': 2,
 'Markus': 5,
 'Matt': 0,
 'Otto': 2,
 'Ramesh': 5,
 'Rocky': 0,
 'Vanessa': 2,
 'Vijay': 0,
 'Zach': 4,
 'cheong-tseng eng': 6}

---

### 9. Calculate average rating per coffee brand

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = sum(ratings_list)/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [98]:
# which brands of coffee have the highest average and lowest rating, excluding None values?

brand_ratings = {}
for brand in header[1:]:
    brand_ratings[brand] = []

for row in data_num:
    for i, cell in enumerate(row):
        if i > 0 and not cell == None:
            brand_ratings[header[i]].append(cell)

brand_avg_ratings = {}
for brand, ratings in brand_ratings.items():
    print brand, ratings
    brand_avg_ratings[brand] = sum(ratings)/len(ratings)
    
brand_avg_ratings

PhilzCoffee [5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
WorkshopCafe [5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]
RitualCoffee [5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
BlueBottleCoffee [4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
Starbucks [3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
PeetsTea [3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
GrandCoffee [2.0, 1.0, 2.0, 2.0, 3.0]
FourBarrel [5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
CaffeTrieste [3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]

{'BlueBottleCoffee': 4.0,
 'CaffeTrieste': 3.375,
 'FourBarrel': 3.3,
 'GrandCoffee': 2.0,
 'PeetsTea': 3.1052631578947367,
 'PhilzCoffee': 4.25,
 'RitualCoffee': 3.769230769230769,
 'Starbucks': 2.85,
 'WorkshopCafe': 2.9166666666666665}

---

### 10. Create a list of just the people

This will be a list of the peoples' names. We are going to use this in the section below. This can be done with a for-loop.

In [99]:
people = []
for row in data_num:
    people.append(row[0])
    
print len(people)
people

20

['Alison',
 'April',
 'Vijay',
 'Vanessa',
 'Isabel',
 'India',
 'Dave H',
 'Deepthi',
 'Ramesh',
 'Hugh Jass',
 'Alex',
 'Ajay Anand',
 'David Feng',
 'Zach',
 'Matt',
 'Markus',
 'Otto',
 'Alessandro',
 'Rocky',
 'cheong-tseng eng']

---

### 11. Intro to `while` loops

We'll start with a basic while-loop. Create a while loop that iterates through the list of names over and over again until a stopping condition is met:

1. Set up two counters variables that start at 0. One of them will be for counting the number of iterations through the while-loop. Call the first counter `vowels` and the second counter `iterations`.
2. Construct a while-loop with the condition `while vowels < 1000:`
3. Inside each iteration of the while loop, go through the list of names with a for-loop. On each name, count the number of vowels inside the string and add it to `vowels` (you can use another nested for-loop through the characters of the string!)
4. Keep track of how many while-loop iterations have happened by adding 1 to `iterations` each time the for-loop runs.

Strings can be conveniently converted to lowercase with the built-in function:

```python
'HELLO'.lower()
'hello'
```

Checking to see if a character is one of multiple vowels can be done concisely with `in`:

```python
if char in ['a','e','i','o','u']:
    vowels += 1
```

Remember, strings are iterable like lists. In fact, you could do the above code like so with the same result:

```python
if char in 'aeiou':
    vowels += 1
```

Lastly, print out the number iterations through the for-loop it took to reach a count of 1000 vowels.

In [101]:
vowels = 0
iterations = 0

while vowels < 1000:
    iterations += 1
    for person in people:
        person = person.lower()
        for char in person:
            if char in 'aeiou':
                vowels += 1

print iterations

21

---

### 12. Picking a name at random: odds of choosing the same name 3 times in a row

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [38]:
import random
# Choose a random person from the list of people:
# random.choice(people)

'Ramesh'

---

### 12.1 Write a function to choose a person from the list randomly 3 times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [109]:
def choose_three(sequence):
    person1 = random.choice(people)
    person2 = random.choice(people)
    person3 = random.choice(people)
    if person1 == person2 == person3:
        return True
    else:
        return False

---

### 12.2 Construct a while loop to run the choosing function until it returns True

Run the function until you draw the same person 3 times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [111]:
tries = 0
chose_same_person = False

while not chose_same_person:
    tries += 1
    same_person = choose_three(people)
    if same_person:
        chose_same_person = True
        
tries

390

---

### 12.3 Write a function to see on average how many tries your choosing function takes

Your function will run the while-loop logic you constructed above a specified number of times, then average how many iterations it took across the different while-loops. 

1. The function takes one argument, the number of iterations.
2. Keep track of the number of tries across iterations in a list.
3. Write a for-loop that runs the number of specified iterations.
4. Inside the for-loop logic you will put the while-loop logic above, appending the number of tries it took on the current iteration to your list.
5. Return the average number of tries it took across iterations.

A very common python pattern for for-loops with a specified number of iterations uses the `range()` function, which when given an integer as an argument returns a list from `0` up to that integer (the length of which is, of course, the integer you provided):

```python
print range(10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(10):
    # will run 10 times
```

Once your function is completed, see how many tries on average it takes with 1, 5, 10, 100, 1000, and 10000 iterations, printing out each call to the function. You can see it converge with more and more iterations!

In [112]:
def tries_to_same_person(iterations=10):
    
    all_tries = []
    for i in range(iterations):
        tries = 0
        chose_same_person = False

        while not chose_same_person:
            tries += 1
            same_person = choose_three(people)
            if same_person:
                chose_same_person = True

        all_tries.append(tries)

    return sum(all_tries)/float(len(all_tries))

In [113]:
print '1 iterations:', tries_to_same_person(iterations=1)
print '5 iterations:', tries_to_same_person(iterations=5)
print '10 iterations:', tries_to_same_person(iterations=10)
print '100 iterations:', tries_to_same_person(iterations=100)
print '1000 iterations:', tries_to_same_person(iterations=1000)
print '10000 iterations:', tries_to_same_person(iterations=10000)

1 iterations: 6.0
5 iterations: 214.2
10 iterations: 626.7
100 iterations: 387.4
1000 iterations: 393.249
10000 iterations: 401.3441

---

### 13. [Challenge] Reorder the people by similarity of rating

Imagine you are seating the 20 people at a very large, round coffee table. You want them to have as similar taste in coffee as possible so that they can small-talk effortlessly with each other. 

### 13.1 Write a function to calculate a "similarity score"

First we need to define the similarity score between people. The score will be the average of the absolute values of the differences between their non-None ratings. 

That's a mouthful. Iterate through the coffee ratings of two different people. If they are both not `None`, then subtract one from the other and take the absolute value. This is the "rating difference" for that coffee brand between two people. The average rating difference will be the average of these ratings across all the coffee brands they both rated.

You can use the handy `zip()` function to iterate through two lists at the same time:

```python
for person1_rating, person2_rating in zip(person1_coffee_ratings, person2_coffee_ratings):
    rating_difference = abs(person1_rating1 - person2_rating1)
    rating_differences.append(rating_difference)
```

In this case, **lower scores mean more similar!**

Check your function out on the first and second person in the data, printing their similarity score.

In [114]:
def similarity_score(row1, row2):
    rating_distances = []
    for p1, p2 in zip(row1[1:], row2[1:]):
        if p1 != None and p2 != None:
            rating_distances.append(abs(p1-p2))
    return sum(rating_distances)/len(rating_distances)

similarity_score(data_num[0], data_num[1])

0.8

---

### 13.2 Find the total similarity across all neighbors

You're given code for a list of lists titled `neighbors` that has all of the pairs of people sitting next to each other at this round table by index in your dataset. The indexes are the row numbers.

Write a function to calculate the total similarity score for the dataset:

1. The function should take the list of lists (your person rating data) and the neighbors list of lists as arguments.
2. Iterate through the neighbor index pairs and use your similarity score function above to calculate the similarity score for each neighbor pair.
3. Return the total similarity score for the dataset in the current order.

Print out the total similarity score for the dataset in its current order.

In [59]:
indices = range(len(data))
shifted = range(1, len(data)+1)
shifted[-1] = 0
neighbors = zip(indices, shifted)

In [58]:
def total_neighbor_similarity(data, neighbors):
    
    total_similarity = 0
    for ind1, ind2 in neighbors:
        total_similarity += similarity_score(data[ind1], data[ind2])
        
    return total_similarity

In [60]:
total_neighbor_similarity(data_num, neighbors)

24.328571428571426

---

### 13.3 "Brute force" an optimal ordering. 

The number of possible seating permutations with even 20 people is 2,432,902,008,176,640,000. We can't search them all, so instead we'll randomly shuffle the dataset iteratively and select the new random shuffle when the similarity score for the newer ordering is lower than the current best.

Here is your process:

1. Create a copy of the dataset called `reordered`. (Details on how to do this below).
2. Calculate the similarity score and assign it to variable `current_similarity`.
3. Create a variable `iteration = 0`.
4. Construct a while-loop that will use the logic `while True:` ... we will break out of this with the `break` command when our condition is met. More on this in a second.
 - Inside the while-loop, create a `shuffled` dataset that is a copy of `reordered`.
 - Use `random.shuffle(shuffled)` to reorder the rows. This function operates **in place**, so do not assign it to a variable.
 - Calculate the similarity score for the newly shuffled dataset.
 - If the similarity score for the shuffled dataset is lower than the current:
   - Set the current similarity score to the shuffled similarity score
   - set `reordered = shuffled`
   - print out the current iteration and the new best similarity score
 - If the current_similarity drops below 16 (or 15 if you want to wait longer), use `break` to break out of the while-loop.
 
Lastly, print the `reordered` dataset to see the (more) optimal ordering of people according to how similar their ratings were!

To copy lists, you can just take a "slice" of everything:

```python
data_copy = data[:]
```

If you were to just type `data_copy = data`, they will actually reference the same thing, and you wouldn't be able to do this optimization correctly.

In [116]:
reordered = data_num[:]

current_similarity = total_neighbor_similarity(reordered, neighbors)
print current_similarity

iteration = 0
while True:
    shuffled = reordered[:]
    random.shuffle(shuffled)
    
    shuffled_similarity = total_neighbor_similarity(shuffled, neighbors)
    
    if shuffled_similarity < current_similarity:
        current_similarity = shuffled_similarity
        reordered = shuffled
        print iteration, current_similarity
        
    if current_similarity < 16.:
        break
        
    iteration += 1

24.3285714286
1 23.2678571429
3 22.753968254
5 21.019047619
6 19.5888888889
21 19.0242063492
51 18.0861111111
256 17.8587301587
1258 17.5142857143
1536 17.2916666667
1707 17.2035714286
4722 17.1861111111
4727 17.0357142857
7799 16.9047619048
17191 16.3420634921
24747 16.3285714286
32578 16.1404761905
79688 16.0873015873
103897 15.6456349206

In [117]:
reordered

[['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0]]