In [1]:
import pandas as pd, numpy as np, seaborn as sns

%matplotlib inline

In [2]:
rockfile = "../../../datasets/rock_songs/rock.csv"

df = pd.read_csv(rockfile)
df.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.4+ KB

# Clean Columns Names

Let's clean up the column names.  There are two ways we can do this:

## 1. At the point when we import our data with pd.read_csv()

Notice that when passing `names=[A LIST]`, the offsets matching the passed list, will replace the names of the columns.

In [17]:
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)
df.head()

,song,artist,release,song_artist,first,year,playcount,fg
0,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
2,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
3,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
4,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18

## 2. Using the .rename() function
The rename function

In [20]:
df = pd.read_csv(rockfile)

rename_map = {
    # Original column: [renamed column]
    'Song Clean':    'song', 
    'ARTIST CLEAN':  'artist', 
    'Release Year':  'release', 
    'COMBINED':      'song_artist', 
    'First?':        'first', 
    'Year?':         'year', 
    'PlayCount':     'playcount', 
    'F*G':           'fg'
}

df.rename(columns=rename_map, inplace=True)
df

,song,artist,release,song_artist,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
5,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
6,Loser,3 Doors Down,2000,Loser by 3 Doors Down,1,1,1,1
7,When I'm Gone,3 Doors Down,2002,When I'm Gone by 3 Doors Down,1,1,6,6
8,What's Up?,4 Non Blondes,1992,What's Up? by 4 Non Blondes,1,1,3,3
9,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
11,Back In Black,AC/DC,1980,Back In Black by AC/DC,1,1,97,97
12,Big Gun,AC/DC,1993,Big Gun by AC/DC,1,1,6,6
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
14,Dirty Deeds Done Dirt Cheap,AC/DC,1976,Dirty Deeds Done Dirt Cheap by AC/DC,1,1,85,85
15,For Those About To Rock,AC/DC,1981,For Those About To Rock by AC/DC,1,1,46,46
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
17,Hard As A Rock,AC/DC,1995,Hard As A Rock by AC/DC,1,1,1,1
18,Have a Drink On Me,AC/DC,1980,Have a Drink On Me by AC/DC,1,1,39,39
19,Hells Bells,AC/DC,1980,Hells Bells by AC/DC,1,1,74,74
20,Highway To Hell,AC/DC,1979,Highway To Hell by AC/DC,1,1,92,92
21,It's A Long Way To The Top,AC/DC,1975,It's A Long Way To The Top by AC/DC,1,1,39,39
22,Jailbreak,AC/DC,1984,Jailbreak by AC/DC,1,1,1,1
23,Let There Be Rock,AC/DC,1977,Let There Be Rock by AC/DC,1,1,3,3
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
27,Night Prowler,AC/DC,1979,Night Prowler by AC/DC,1,1,1,1
28,Rock and Roll Ain't Noise Pollution,AC/DC,1980,Rock and Roll Ain't Noise Pollution by AC/DC,1,1,21,21
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
...,...,...,...,...,...,...,...,...
2200,Owner of a Lonely Heart,Yes,1983,Owner of a Lonely Heart by Yes,1,1,81,81
2201,Roundabout,Yes,1971,Roundabout by Yes,1,1,44,44
2202,Starship Trooper,Yes,1971,Starship Trooper by Yes,1,1,1,1
2203,Wonderous Stories,Yes,NaN,Wonderous Stories by Yes,1,0,5,0
2204,Yours Is No Disgrace,Yes,1971,Yours Is No Disgrace by Yes,1,1,1,1
2205,Tell Me What You Want,Zebra,NaN,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,NaN,Who's Behind The Door by Zebra,1,0,1,0
2207,Time of the Season,Zombies,1968,Time of the Season by Zombies,1,1,14,14
2208,A Fool for Your Stockings,ZZ Top,NaN,A Fool for Your Stockings by ZZ Top,1,0,1,0
2209,Arrested For Driving While Blind,ZZ Top,1976,Arrested For Driving While Blind by ZZ Top,1,1,1,1
2210,Beer Drinkers & Hell Raisers,ZZ Top,1973,Beer Drinkers & Hell Raisers by ZZ Top,1,1,8,8
2211,Cheap Sunglasses,ZZ Top,1980,Cheap Sunglasses by ZZ Top,1,1,34,34
2212,Gimme All Your Lovin,ZZ Top,1983,Gimme All Your Lovin by ZZ Top,1,1,86,86
2213,Got Me Under Pressure,ZZ Top,1983,Got Me Under Pressure by ZZ Top,1,1,29,29
2214,Heard It On the X,ZZ Top,1975,Heard It On the X by ZZ Top,1,1,2,2
2215,I Thank You,ZZ Top,NaN,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2217,Jesus Just Left Chicago,ZZ Top,1973,Jesus Just Left Chicago by ZZ Top,1,1,6,6
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2219,La Grange,ZZ Top,1973,La Grange by ZZ Top,1,1,111,111
2220,Legs,ZZ Top,1983,Legs by ZZ Top,1,1,121,121
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2223,Pearl Necklace,ZZ Top,1981,Pearl Necklace by ZZ Top,1,1,5,5
2224,Sharp Dressed Man,ZZ Top,1983,Sharp Dressed Man by ZZ Top,1,1,120,120
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0
2226,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2227,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2228,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2229,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

## 3. Using the .columns attribute of a dataframe
The only caveat with .columns is that you have to reassign all of it at once.  You can't partially replace a value by working on .columns directly.  You have to reasign the `.columns`, with a list of equal length.

In [22]:
df = pd.read_csv(rockfile)
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df.columns = column_names
df.head()

,song,artist,release,song_artist,first,year,playcount,fg
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

## Accessing Null Values

We have mixed str and NaN values in "release".  NaN is essentially "not a number" and it the way Pandas handles "nulls".  We can use the `.isnull()` method of a series to find null values.

In [24]:
# This will show us records where df['release'] is null

null_release_mask = df['release'].isnull()
df[null_release_mask]

,song,artist,release,song_artist,first,year,playcount,fg
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
31,Sin City,AC/DC,NaN,Sin City by AC/DC,1,0,1,0
35,What Do You Do For Money Honey,AC/DC,NaN,What Do You Do For Money Honey by AC/DC,1,0,2,0
42,"Baby, Please Don't Go",Aerosmith,NaN,"Baby, Please Don't Go by Aerosmith",1,0,1,0
45,Come Together,Aerosmith,NaN,Come Together by Aerosmith,1,0,65,0
53,Kings and Queens,Aerosmith,NaN,Kings and Queens by Aerosmith,1,0,1,0
60,One Way Street,Aerosmith,NaN,One Way Street by Aerosmith,1,0,1,0
66,The Other Side,Aerosmith,NaN,The Other Side by Aerosmith,1,0,11,0
71,You See Me Crying,Aerosmith,NaN,You See Me Crying by Aerosmith,1,0,1,0
75,Fantasy,Aldo Nova,NaN,Fantasy by Aldo Nova,1,0,4,0
76,BE MY LOVER,Alice Cooper,NaN,BE MY LOVER by Alice Cooper,1,0,1,0
80,House Of Fire,Alice Cooper,NaN,House Of Fire by Alice Cooper,1,0,1,0
100,One Way Out,Allman Brothers Band,NaN,One Way Out by Allman Brothers Band,1,0,3,0
102,Southbound,Allman Brothers Band,NaN,Southbound by Allman Brothers Band,1,0,2,0
104,Whippin' Post,Allman Brothers Band,NaN,Whippin' Post by Allman Brothers Band,1,0,6,0
110,Immigrant Song,Ann Wilson,NaN,Immigrant Song by Ann Wilson,1,0,2,0
111,Roller,April Wine,NaN,Roller by April Wine,1,0,1,0
113,Coming into Los Angeles,Arlo Guthrie,NaN,Coming into Los Angeles by Arlo Guthrie,1,0,1,0
114,Wayside,Artful Dodger,NaN,Wayside by Artful Dodger,1,0,1,0
118,Spooky,Atlanta Rhythm Section,NaN,Spooky by Atlanta Rhythm Section,1,0,1,0
120,Blondes In Black Cars,Autograph,NaN,Blondes In Black Cars by Autograph,1,0,1,0
122,Rock And Roll Party In The Streets,Axe,NaN,Rock And Roll Party In The Streets by Axe,1,0,1,0
124,Roll On Down The Highway,Bachman-Turner Overdrive,NaN,Roll On Down The Highway by Bachman-Turner Ove...,1,0,5,0
...,...,...,...,...,...,...,...,...
2149,Take Your Whiskey Home,Van Halen,NaN,Take Your Whiskey Home by Van Halen,1,0,8,0
2150,Top Jimmy,Van Halen,NaN,Top Jimmy by Van Halen,1,0,23,0
2151,Top of the World,Van Halen,NaN,Top of the World by Van Halen,1,0,5,0
2157,And It Stoned Me,Van Morrison,NaN,And It Stoned Me by Van Morrison,1,0,1,0
2158,BLUE MONEY,Van Morrison,NaN,BLUE MONEY by Van Morrison,1,0,1,0
2162,Gloria,Van Morrison,NaN,Gloria by Van Morrison,1,0,1,0
2164,Jackie Wilson Said,Van Morrison,NaN,Jackie Wilson Said by Van Morrison,1,0,1,0
2168,Edge of a Broken Heart,Vixen,NaN,Edge of a Broken Heart by Vixen,1,0,2,0
2174,Uncle Tom's Cabin,Warrant,NaN,Uncle Tom's Cabin by Warrant,1,0,1,0
2178,Street Corner Serenade,Wet Willie,NaN,Street Corner Serenade by Wet Willie,1,0,2,0
2179,Wait,White Lion,NaN,Wait by White Lion,1,0,1,0
2184,Slow An' Easy,Whitesnake,NaN,Slow An' Easy by Whitesnake,1,0,6,0
2185,Still of the Night,Whitesnake,NaN,Still of the Night by Whitesnake,1,0,14,0
2186,Who Are You?,Why Not,NaN,Who Are You? by Why Not,1,0,5,0
2188,Night Moves,Wildlife,NaN,Night Moves by Wildlife,1,0,23,0
2189,We've Got Tonight,Wildlife,NaN,We've Got Tonight by Wildlife,1,0,4,0
2190,Can't Get Enough,Winger,NaN,Can't Get Enough by Winger,1,0,1,0
2191,Headed For A Heartbreak,Winger,NaN,Headed For A Heartbreak by Winger,1,0,1,0
2192,Seventeen,Winger,NaN,Seventeen by Winger,1,0,2,0
2194,Summertime Girls,Y&T,NaN,Summertime Girls by Y&T,1,0,4,0
2203,Wonderous Stories,Yes,NaN,Wonderous Stories by Yes,1,0,5,0
2205,Tell Me What You Want,Zebra,NaN,Tell Me What You Want by Zebra,1,0,2,0
2206,Who's Behind The Door,Zebra,NaN,Who's Behind The Door by Zebra,1,0,1,0
2208,A Fool for Your Stockings,ZZ Top,NaN,A Fool for Your Stockings by ZZ Top,1,0,1,0
2215,I Thank You,ZZ Top,NaN,I Thank You by ZZ Top,1,0,16,0
2216,"I'm Bad, I'm Nationwide",ZZ Top,NaN,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,NaN,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,NaN,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,NaN,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,NaN,She Loves My Automobile by ZZ Top,1,0,1,0

# Updating slices of our dataframe, based on mask selection / slices

Many times, we want to upate a value in our DataFrame.  Let's show how to do that for release.  Let's set all of the null values in `release` to 0 (we ultimately wouldn't find this practical in this circumstance but just to show how to do it).

For newer version of Pandas, in order to manipulate data from the original dataframe that is referenced, it's necessary to use `.loc` rather than the obvious reference when doing resignment using a mask and an index.

This won't always work:
```python
df[mask]['column_name'] = new_value
```

The best way to accomplish the same thing is:
```python
df.loc[mask, 'column_name'] = new_value
```

For multiple column assignment:
```python
df.loc[mask, ['col_1', 'col_2', 'col_3']] = new_value
```

Let's try it out.

In [31]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

null_release_mask = df['release'].isnull()
df.loc[null_release_mask, 'release'] = 0

# Print out our DataFrame
df

,song,artist,release,song_artist,first,year,playcount,fg
0,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
2,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
3,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
4,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
5,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1
6,Kryptonite,3 Doors Down,2000,Kryptonite by 3 Doors Down,1,1,13,13
7,Loser,3 Doors Down,2000,Loser by 3 Doors Down,1,1,1,1
8,When I'm Gone,3 Doors Down,2002,When I'm Gone by 3 Doors Down,1,1,6,6
9,What's Up?,4 Non Blondes,1992,What's Up? by 4 Non Blondes,1,1,3,3
10,Take On Me,a-ha,1985,Take On Me by a-ha,1,1,1,1
11,"Baby, Please Don't Go",AC/DC,0,"Baby, Please Don't Go by AC/DC",1,0,1,0
12,Back In Black,AC/DC,1980,Back In Black by AC/DC,1,1,97,97
13,Big Gun,AC/DC,1993,Big Gun by AC/DC,1,1,6,6
14,CAN'T STOP ROCK'N'ROLL,AC/DC,0,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
15,Dirty Deeds Done Dirt Cheap,AC/DC,1976,Dirty Deeds Done Dirt Cheap by AC/DC,1,1,85,85
16,For Those About To Rock,AC/DC,1981,For Those About To Rock by AC/DC,1,1,46,46
17,Girls Got Rhythm,AC/DC,0,Girls Got Rhythm by AC/DC,1,0,24,0
18,Hard As A Rock,AC/DC,1995,Hard As A Rock by AC/DC,1,1,1,1
19,Have a Drink On Me,AC/DC,1980,Have a Drink On Me by AC/DC,1,1,39,39
20,Hells Bells,AC/DC,1980,Hells Bells by AC/DC,1,1,74,74
21,Highway To Hell,AC/DC,1979,Highway To Hell by AC/DC,1,1,92,92
22,It's A Long Way To The Top,AC/DC,1975,It's A Long Way To The Top by AC/DC,1,1,39,39
23,Jailbreak,AC/DC,1984,Jailbreak by AC/DC,1,1,1,1
24,Let There Be Rock,AC/DC,1977,Let There Be Rock by AC/DC,1,1,3,3
25,Let's Get It Up,AC/DC,0,Let's Get It Up by AC/DC,1,0,4,0
26,Live Wire,AC/DC,0,Live Wire by AC/DC,1,0,2,0
27,Moneytalks,AC/DC,0,Moneytalks by AC/DC,1,0,20,0
28,Night Prowler,AC/DC,1979,Night Prowler by AC/DC,1,1,1,1
29,Rock and Roll Ain't Noise Pollution,AC/DC,1980,Rock and Roll Ain't Noise Pollution by AC/DC,1,1,21,21
...,...,...,...,...,...,...,...,...
2201,Owner of a Lonely Heart,Yes,1983,Owner of a Lonely Heart by Yes,1,1,81,81
2202,Roundabout,Yes,1971,Roundabout by Yes,1,1,44,44
2203,Starship Trooper,Yes,1971,Starship Trooper by Yes,1,1,1,1
2204,Wonderous Stories,Yes,0,Wonderous Stories by Yes,1,0,5,0
2205,Yours Is No Disgrace,Yes,1971,Yours Is No Disgrace by Yes,1,1,1,1
2206,Tell Me What You Want,Zebra,0,Tell Me What You Want by Zebra,1,0,2,0
2207,Who's Behind The Door,Zebra,0,Who's Behind The Door by Zebra,1,0,1,0
2208,Time of the Season,Zombies,1968,Time of the Season by Zombies,1,1,14,14
2209,A Fool for Your Stockings,ZZ Top,0,A Fool for Your Stockings by ZZ Top,1,0,1,0
2210,Arrested For Driving While Blind,ZZ Top,1976,Arrested For Driving While Blind by ZZ Top,1,1,1,1
2211,Beer Drinkers & Hell Raisers,ZZ Top,1973,Beer Drinkers & Hell Raisers by ZZ Top,1,1,8,8
2212,Cheap Sunglasses,ZZ Top,1980,Cheap Sunglasses by ZZ Top,1,1,34,34
2213,Gimme All Your Lovin,ZZ Top,1983,Gimme All Your Lovin by ZZ Top,1,1,86,86
2214,Got Me Under Pressure,ZZ Top,1983,Got Me Under Pressure by ZZ Top,1,1,29,29
2215,Heard It On the X,ZZ Top,1975,Heard It On the X by ZZ Top,1,1,2,2
2216,I Thank You,ZZ Top,0,I Thank You by ZZ Top,1,0,16,0
2217,"I'm Bad, I'm Nationwide",ZZ Top,0,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Jesus Just Left Chicago,ZZ Top,1973,Jesus Just Left Chicago by ZZ Top,1,1,6,6
2219,Just Got Paid,ZZ Top,0,Just Got Paid by ZZ Top,1,0,2,0
2220,La Grange,ZZ Top,1973,La Grange by ZZ Top,1,1,111,111
2221,Legs,ZZ Top,1983,Legs by ZZ Top,1,1,121,121
2222,My Head's In Mississippi,ZZ Top,0,My Head's In Mississippi by ZZ Top,1,0,1,0
2223,Party On The Patio,ZZ Top,0,Party On The Patio by ZZ Top,1,0,14,0
2224,Pearl Necklace,ZZ Top,1981,Pearl Necklace by ZZ Top,1,1,5,5
2225,Sharp Dressed Man,ZZ Top,1983,Sharp Dressed Man by ZZ Top,1,1,120,120
2226,She Loves My Automobile,ZZ Top,0,She Loves My Automobile by ZZ Top,1,0,1,0
2227,Tube Snake Boogie,ZZ Top,1981,Tube Snake Boogie by ZZ Top,1,1,32,32
2228,Tush,ZZ Top,1975,Tush by ZZ Top,1,1,109,109
2229,TV Dinners,ZZ Top,1983,TV Dinners by ZZ Top,1,1,1,1
2230,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO,ZZ Top,1973,WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO by...,1,1,2,2

## Searching for gremlins, in `release`

So far we know that `release`, is an object.  Let's find out why.

In [35]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

df['release'].value_counts()

1973             104
1977              83
1975              83
1970              81
1971              75
1969              72
1980              70
1978              64
1979              63
1967              61
1981              61
1983              60
1976              56
1982              54
1984              51
1972              50
1974              48
1968              46
1987              39
1985              39
1986              37
1991              34
1989              32
1966              30
1988              29
1965              28
1994              25
1990              22
1993              19
1992              14
1964              14
1999              13
1995              10
1996               9
1997               9
1963               9
2002               6
1998               6
2004               5
2005               5
2012               5
2001               4
2011               3
2008               3
1962               3
2003               3
2000               3
2007               3
2013               2
2014               2
1955               1
1958               1
Release Year       1
1961               1
1071               1
2006               1
SONGFACTS.COM      1
Name: release, dtype: int64

## We have "SONGFACTS.COM" in our "release" data

Let's get rid of it the direct way.  First let's select the row.

In [40]:
# Slice and assign
release_mask = df['release'] == "SONGFACTS.COM"
df[release_mask]

,song,artist,release,song_artist,first,year,playcount,fg
1505,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

Let's take our row slice, and replace the value in "release" to a NaN (np.nan)

In [42]:
df.loc[release_mask, 'release'] = np.nan
df[release_mask]

,song,artist,release,song_artist,first,year,playcount,fg
1505,Bullfrog Blues,Rory Gallagher,NaN,Bullfrog Blues by Rory Gallagher,1,1,1,1

## It appears we still have cruft in our `release` column series

Let's look for multiple values using an explicit filter to mask exact values matching the data found in the series for `release`

In [69]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

release_mask = df['release'].isin(["Release Year", "SONGFACTS.COM"])
df[release_mask]

,song,artist,release,song_artist,first,year,playcount,fg
0,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1505,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

So it appears that we have column headers in our first row.  There are a few ways we can deal with this problem.  We can pass `skiprows=1` to our `pd.read_csv()` to tell it to skip the first row.  When we pass `name=[list of columns]`, Pandas will push the header row from the CSV into the dataset.  We can get around it like so:  `pd.read_csv(rockfile, names=column_names, skiprows=1)`

However, if we want to use code to keep it, but update multiple column values within a series, matching multiple values, we can use this example.

In [70]:
release_mask = df['release'].isin(["Release Year", "SONGFACTS.COM"])
df.loc[release_mask, 'release'] = np.nan

## Now let's try to convert `release` to floats
Why floats?  Because the `float()` conversion will be able to handle the `NaN` values, where `int()` wont.

In [71]:
# Try to check the output of df['release'].apply(float), before reasigning!
df['release'] = df['release'].apply(float)

## Now let's check our dtypes out

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 8 columns):
song           2231 non-null object
artist         2231 non-null object
release        1652 non-null float64
song_artist    2231 non-null object
first          2231 non-null object
year           2231 non-null object
playcount      2231 non-null object
fg             2231 non-null object
dtypes: float64(1), object(7)
memory usage: 139.5+ KB

Alright!  Looks like our `release` column is finally a fully fledged `float64` type allowing us to do a `describe`.  Our precentiles are having some issues calculating because of a problem with division by 0.  There is more info to read up on about this if you check out the [numpy.seterr](http://docs.scipy.org/doc/numpy/reference/generated/numpy.seterr.html).

In [74]:
df['release'].describe()

count    1652.000000
mean     1978.019976
std        24.191247
min      1071.000000
25%              NaN
50%              NaN
75%              NaN
max      2014.000000
Name: release, dtype: float64

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 9 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
cleaned_year    1652 non-null float64
dtypes: float64(1), int64(4), object(4)
memory usage: 156.9+ KB

## More About Apply

Let's say we want to traverse every single value to see what our series looks like with axis=1 (rows).

In [83]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

In [102]:
def inspect_data(row):
    
    print "------------- Begin Row -------------"
    for key in row.index:
        print key,":", row[key], "type:", type(row[key]).__name__

# Operating on axis=1 (row-wise)
df.head(3).apply(inspect_data, axis=1)

_ = "" # supressed output of returned statement above -- assigning a dummy variable

------------- Begin Row -------------
song : Song Clean type: str
artist : ARTIST CLEAN type: str
release : Release Year type: str
song_artist : COMBINED type: str
first : First? type: str
year : Year? type: str
playcount : PlayCount type: str
fg : F*G type: str
------------- Begin Row -------------
song : Caught Up in You type: str
artist : .38 Special type: str
release : 1982 type: str
song_artist : Caught Up in You by .38 Special type: str
first : 1 type: str
year : 1 type: str
playcount : 82 type: str
fg : 82 type: str
------------- Begin Row -------------
song : Fantasy Girl type: str
artist : .38 Special type: str
release : nan type: float
song_artist : Fantasy Girl by .38 Special type: str
first : 1 type: str
year : 0 type: str
playcount : 3 type: str
fg : 0 type: str

Let's find out what can be converted to a float, what can't.

In [100]:
def inspect_data(row):
    
    print "------------- Begin Row #", row._name, " -------------"

    for key in row.index:
        try:
            row[key] = float(row[key])
            print "Can convert `", key, "`: ", row[key]
        except:
            print "Can't be converted `", key, "`: ", row[key]

# Operating on axis=1 (row-wise)
df.head(3).apply(inspect_data, axis=1)

_ = "" # supressed output of returned statement above -- assigning a dummy variable

------------- Begin Row # 0  -------------
Can't be converted ` song `:  Song Clean
Can't be converted ` artist `:  ARTIST CLEAN
Can't be converted ` release `:  Release Year
Can't be converted ` song_artist `:  COMBINED
Can't be converted ` first `:  First?
Can't be converted ` year `:  Year?
Can't be converted ` playcount `:  PlayCount
Can't be converted ` fg `:  F*G
------------- Begin Row # 1  -------------
Can't be converted ` song `:  Caught Up in You
Can't be converted ` artist `:  .38 Special
Can convert ` release `:  1982.0
Can't be converted ` song_artist `:  Caught Up in You by .38 Special
Can convert ` first `:  1.0
Can convert ` year `:  1.0
Can convert ` playcount `:  82.0
Can convert ` fg `:  82.0
------------- Begin Row # 2  -------------
Can't be converted ` song `:  Fantasy Girl
Can't be converted ` artist `:  .38 Special
Can convert ` release `:  nan
Can't be converted ` song_artist `:  Fantasy Girl by .38 Special
Can convert ` first `:  1.0
Can convert ` year `:  0.0
Can convert ` playcount `:  3.0
Can convert ` fg `:  0.0

## Alright, axis = 1 is rows, how does this look for columns?

Well rather than rows, we iterate by columns, which is strange to think of.  If you can think of accessing the keys of a dictionary that would contain all the values by row as a list, rather than a list of dictionaries having multiple keys for each row.  Confusing?  Let's have a look.

In [105]:
def inspect_data(column):
    
    print "------------- Begin Column #", column._name, " -------------"

    for key in column.index:
        try:
            column[key] = float(column[key])
            print "Can convert `", key, "`: ", column[key]
        except:
            print "Can't be converted `", key, "`: ", column[key]

# Operating on axis=0 (column-wise)
df.head(3).apply(inspect_data, axis=0)

_ = "" # supressed output of returned statement above -- assigning a dummy variable

------------- Begin Column # song  -------------
Can't be converted ` 0 `:  Song Clean
Can't be converted ` 1 `:  Caught Up in You
Can't be converted ` 2 `:  Fantasy Girl
------------- Begin Column # artist  -------------
Can't be converted ` 0 `:  ARTIST CLEAN
Can't be converted ` 1 `:  .38 Special
Can't be converted ` 2 `:  .38 Special
------------- Begin Column # release  -------------
Can't be converted ` 0 `:  Release Year
Can convert ` 1 `:  1982.0
Can convert ` 2 `:  nan
------------- Begin Column # song_artist  -------------
Can't be converted ` 0 `:  COMBINED
Can't be converted ` 1 `:  Caught Up in You by .38 Special
Can't be converted ` 2 `:  Fantasy Girl by .38 Special
------------- Begin Column # first  -------------
Can't be converted ` 0 `:  First?
Can convert ` 1 `:  1.0
Can convert ` 2 `:  1.0
------------- Begin Column # year  -------------
Can't be converted ` 0 `:  Year?
Can convert ` 1 `:  1.0
Can convert ` 2 `:  0.0
------------- Begin Column # playcount  -------------
Can't be converted ` 0 `:  PlayCount
Can convert ` 1 `:  82.0
Can convert ` 2 `:  3.0
------------- Begin Column # fg  -------------
Can't be converted ` 0 `:  F*G
Can convert ` 1 `:  82.0
Can convert ` 2 `:  0.0

Same thing but by column, instead of row.  Notice that each column series, only has 3 elements.  This is because we are chaining `.head(3)` before the `.apply(inspect_data)`.

Also note, that the input `column` to our `insepct_data(column)` function is being fed an entire column of values instead of a row.

## Let's get serious and clean everything we can using a single function
With apply.  First thing, let's kill that first row, then build a function through apply.  We will set anything that is not convertable to `np.nan`, just to illustrate how you might design a process for dealing with bad data.  

Then we will only run it on columns that we want to handle in this way.  First let's make it work with all our data.

In [113]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

def deep_clean(row):
    
    for key in row.index:
        try:
            row[key] = float(row[key])
        except:
            row[key] = np.nan
    
    # don't forget to return if we want to update the copy of our data
    return row
            
# Chop off the first row by selecting everything after it, then reassigning to original `df` object.
df = df[1:]

# apply our function, testing first, not reassigning so we can check our results before committing
df.apply(deep_clean).head(20) # only the first 20 records..

    song  artist  release  song_artist  first  year  playcount    fg
1    NaN     NaN   1982.0          NaN    1.0   1.0       82.0  82.0
2    NaN     NaN      NaN          NaN    1.0   0.0        3.0   0.0
3    NaN     NaN   1981.0          NaN    1.0   1.0       85.0  85.0
4    NaN     NaN   1980.0          NaN    1.0   1.0       18.0  18.0
5    NaN     NaN   1975.0          NaN    1.0   1.0        1.0   1.0
6    NaN     NaN   2000.0          NaN    1.0   1.0       13.0  13.0
7    NaN     NaN   2000.0          NaN    1.0   1.0        1.0   1.0
8    NaN     NaN   2002.0          NaN    1.0   1.0        6.0   6.0
9    NaN     NaN   1992.0          NaN    1.0   1.0        3.0   3.0
10   NaN     NaN   1985.0          NaN    1.0   1.0        1.0   1.0
11   NaN     NaN      NaN          NaN    1.0   0.0        1.0   0.0
12   NaN     NaN   1980.0          NaN    1.0   1.0       97.0  97.0
13   NaN     NaN   1993.0          NaN    1.0   1.0        6.0   6.0
14   NaN     NaN      NaN          NaN    1.0   0.0        5.0   0.0
15   NaN     NaN   1976.0          NaN    1.0   1.0       85.0  85.0
16   NaN     NaN   1981.0          NaN    1.0   1.0       46.0  46.0
17   NaN     NaN      NaN          NaN    1.0   0.0       24.0   0.0
18   NaN     NaN   1995.0          NaN    1.0   1.0        1.0   1.0
19   NaN     NaN   1980.0          NaN    1.0   1.0       39.0  39.0
20   NaN     NaN   1980.0          NaN    1.0   1.0       74.0  74.0

## Looks like our function can be applied to everything!

Great right?  Well it's designed to process everything it is fed, so we only want to selectively apply this `deep_clean` method to our DataFrame.  Let's do that.

In [116]:
# Select only the variables with mostly continious values
continious_columns = ['release', 'first', 'year', 'playcount', 'fg']
df[continious_columns].apply(deep_clean)

      release  first  year  playcount     fg
1      1982.0    1.0   1.0       82.0   82.0
2         NaN    1.0   0.0        3.0    0.0
3      1981.0    1.0   1.0       85.0   85.0
4      1980.0    1.0   1.0       18.0   18.0
5      1975.0    1.0   1.0        1.0    1.0
6      2000.0    1.0   1.0       13.0   13.0
7      2000.0    1.0   1.0        1.0    1.0
8      2002.0    1.0   1.0        6.0    6.0
9      1992.0    1.0   1.0        3.0    3.0
10     1985.0    1.0   1.0        1.0    1.0
11        NaN    1.0   0.0        1.0    0.0
12     1980.0    1.0   1.0       97.0   97.0
13     1993.0    1.0   1.0        6.0    6.0
14        NaN    1.0   0.0        5.0    0.0
15     1976.0    1.0   1.0       85.0   85.0
16     1981.0    1.0   1.0       46.0   46.0
17        NaN    1.0   0.0       24.0    0.0
18     1995.0    1.0   1.0        1.0    1.0
19     1980.0    1.0   1.0       39.0   39.0
20     1980.0    1.0   1.0       74.0   74.0
21     1979.0    1.0   1.0       92.0   92.0
22     1975.0    1.0   1.0       39.0   39.0
23     1984.0    1.0   1.0        1.0    1.0
24     1977.0    1.0   1.0        3.0    3.0
25        NaN    1.0   0.0        4.0    0.0
26        NaN    1.0   0.0        2.0    0.0
27        NaN    1.0   0.0       20.0    0.0
28     1979.0    1.0   1.0        1.0    1.0
29     1980.0    1.0   1.0       21.0   21.0
30        NaN    1.0   0.0       45.0    0.0
...       ...    ...   ...        ...    ...
2201   1983.0    1.0   1.0       81.0   81.0
2202   1971.0    1.0   1.0       44.0   44.0
2203   1971.0    1.0   1.0        1.0    1.0
2204      NaN    1.0   0.0        5.0    0.0
2205   1971.0    1.0   1.0        1.0    1.0
2206      NaN    1.0   0.0        2.0    0.0
2207      NaN    1.0   0.0        1.0    0.0
2208   1968.0    1.0   1.0       14.0   14.0
2209      NaN    1.0   0.0        1.0    0.0
2210   1976.0    1.0   1.0        1.0    1.0
2211   1973.0    1.0   1.0        8.0    8.0
2212   1980.0    1.0   1.0       34.0   34.0
2213   1983.0    1.0   1.0       86.0   86.0
2214   1983.0    1.0   1.0       29.0   29.0
2215   1975.0    1.0   1.0        2.0    2.0
2216      NaN    1.0   0.0       16.0    0.0
2217      NaN    1.0   0.0       10.0    0.0
2218   1973.0    1.0   1.0        6.0    6.0
2219      NaN    1.0   0.0        2.0    0.0
2220   1973.0    1.0   1.0      111.0  111.0
2221   1983.0    1.0   1.0      121.0  121.0
2222      NaN    1.0   0.0        1.0    0.0
2223      NaN    1.0   0.0       14.0    0.0
2224   1981.0    1.0   1.0        5.0    5.0
2225   1983.0    1.0   1.0      120.0  120.0
2226      NaN    1.0   0.0        1.0    0.0
2227   1981.0    1.0   1.0       32.0   32.0
2228   1975.0    1.0   1.0      109.0  109.0
2229   1983.0    1.0   1.0        1.0    1.0
2230   1973.0    1.0   1.0        2.0    2.0

[2230 rows x 5 columns]

This looks great so let's commit to this update!

In [118]:
df[continious_columns] = df[continious_columns].apply(deep_clean)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 1 to 2230
Data columns (total 8 columns):
song           2 non-null object
artist         0 non-null object
release        1652 non-null float64
song_artist    0 non-null object
first          2230 non-null float64
year           2230 non-null float64
playcount      2230 non-null float64
fg             2230 non-null float64
dtypes: float64(5), object(3)
memory usage: 139.4+ KB

## And that's it!  Check out describe now:
`.T` = Transpose Matrix

In [120]:
df.describe().T

            count         mean        std     min  25%  50%   75%     max
release    1652.0  1978.019976  24.191247  1071.0  NaN  NaN   NaN  2014.0
first      2230.0     1.000000   0.000000     1.0  1.0  1.0   1.0     1.0
year       2230.0     0.741256   0.438043     0.0  0.0  1.0   1.0     1.0
playcount  2230.0    16.872646  25.302972     0.0  1.0  4.0  21.0   142.0
fg         2230.0    15.048430  25.288366     0.0  0.0  3.0  18.0   142.0

Let's try a different approach for the same thing, without using `.apply()`

In [142]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

# We know that release date SHOULD be 4 digits long. 
# Let's find everything that is greater than 4 characters.
df[df['release'].str.len() > 4]

,song,artist,release,song_artist,first,year,playcount,fg
0,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1505,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

## Now let's update those values to nans
We're performing the mask selection inline here.  Also keep in mind since it is a mask, we need to use .loc in order to do assignment

In [147]:
df.loc[df['release'].str.len() > 4, 'release'] = np.nan
df['release'] = df['release'].map(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2231 entries, 0 to 2230
Data columns (total 8 columns):
song           2231 non-null object
artist         2231 non-null object
release        1652 non-null float64
song_artist    2231 non-null object
first          2231 non-null object
year           2231 non-null object
playcount      2231 non-null object
fg             2231 non-null object
dtypes: float64(1), object(7)
memory usage: 139.5+ KB

We updated the type for `release` successfully!

## The Final Trick

The final piece of wizdom, is using `applymap` to search for values that are strings, but could be converted to floats easily.  What `.applymap()` does, is apply the `.map()` function individually to every single element.  This is different than `apply()` becuase apply will give you a series as input (multiple values), not individual values, one at a time.

In [163]:
# We're going to reload our data to a fresh state
column_names = ['song', 'artist', 'release', 'song_artist', 'first', 'year', 'playcount', 'fg']
df = pd.read_csv(rockfile, names=column_names)

# Create mask to find numeric values in object / string, that CAN be converted
digit_mask = df['year'].apply(lambda x: x.isdigit())

# Find everyhing thats NOT a digit hanging out in an object / string
df[~digit_mask]

,song,artist,release,song_artist,first,year,playcount,fg
0,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G

This is obviously the easy way, but you should should know how to investigate your data by careful forensics, slicing, and Pandas operations.  From here, you can take this mask reference and update the values as needed.

In [167]:
def find_numeric(value):
    
    try:
        # Is a digit
        return value.isdigit()
    except:
        # Is a NaN
        if type(value) == float:
            return True
        # Not ditit or NaN (a naughty string)
        else:
            return False

# Create mask to find numeric values in object / string, that CAN be converted
digit_mask = df['release'].apply(find_numeric)

# Find everyhing thats NOT a digit hanging out in an object / string
df[~digit_mask]

,song,artist,release,song_artist,first,year,playcount,fg
0,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1505,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1