In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
%config InlineBackend.figure_formats = ['svg']
sns.set_style("white")

## Demographics
http://www.ibge.gov.br/home/estatistica/populacao/projecao_da_populacao/2013/default_tab.shtm

In [2]:
xl = pd.ExcelFile('../brazil_pop_growth/PROJECOES_2013_POPULACAO.xls')

In [3]:
test = [u"POPULA\xc7\xc3O HOMENS - GRUPOS ET\xc1RIOS"]*23 + [u'POPULA\xc7\xc3O MULHERES - GRUPOS ET\xc1RIOS']*23 + [u'POPULA\xc7\xc3O TOTAL - GRUPOS ET\xc1RIOS']*25
print len(test)

71

In [4]:
states_list = ['RO','AC', 'AM','PA','TO','MA','PI','CE', 'RN', 'PB', 'PE', 'AL', 'SE','BA', 'MG', 'ES',
               'RJ', 'SP','PR','SC','RS','MS', 'MT','GO', 'DF', 'RR', 'AP']

def parse_sheets(name):
    types = [u"POPULA\xc7\xc3O HOMENS - GRUPOS ET\xc1RIOS", 
       u'POPULA\xc7\xc3O MULHERES - GRUPOS ET\xc1RIOS', 
       u'POPULA\xc7\xc3O TOTAL - GRUPOS ET\xc1RIOS']
    
    data =  xl.parse(sheetname=name, header=0, index_col=0, skiprows=2, parse_cols='A:AF', convert_float=True).reset_index()
    data['state_city'] = [name]*data.shape[0]
    data['groups'] = [types[0]]*23 + [types[1]]*23 + [types[2]]*25
    return data

dataframe = []

for i, sheet in enumerate(states_list):
    ps = parse_sheets(sheet)
    dataframe.append(ps)
    
complete_df = pd.concat(dataframe, axis=0)

In [5]:
complete_df.index.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70])

In [6]:
## Renaming Columns
complete_df.rename(columns={'index': 'pop_group', 'Unnamed: 1': '2000', 'Unnamed: 2': '2001','Unnamed: 3' : '2002',
                            'Unnamed: 4':'2003', 'Unnamed: 5':'2004', 'Unnamed: 6':'2005', 'Unnamed: 7': '2006',
                            'Unnamed: 8':'2007','Unnamed: 9': '2008', 'Unnamed: 10':'2009','Unnamed: 11':'2010',
                            'Unnamed: 12':'2011', 'Unnamed: 13': '2012','Unnamed: 14': '2013', 'Unnamed: 15': '2014',
                             'Unnamed: 16': '2015','Unnamed: 17': '2016','Unnamed: 18': '2017','Unnamed: 19': '2018',
                             'Unnamed: 20': '2019','Unnamed: 21':'2020', 'Unnamed: 22': '2021','Unnamed: 23': '2022',
                             'Unnamed: 24': '2023','Unnamed: 25': '2024','Unnamed: 26': '2025', 'Unnamed: 27':'2026',
                             'Unnamed: 28': '2027','Unnamed: 29': '2028','Unnamed: 30': '2029','Unnamed: 31': '2030',
                           }, inplace=True)

In [7]:
complete_df.head(2)

,pop_group,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2023,2024,2025,2026,2027,2028,2029,2030,state_city,groups
0,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RO,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS
1,GRUPO ETÁRIO,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,...,2023.0,2024.0,2025.0,2026.0,2027.0,2028.0,2029.0,2030.0,RO,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS

In [8]:
complete_df['state_city'] = complete_df['state_city'].map({'RO':'Rondonia', 'AC':'Acre', 'AM': 'Amazonas', 
                                                           'PA':'Para', 'TO':'Tocantins','MA':'Maranhao', 'PI':'Piaui',
'CE':'Ceara', 'RN':'Rio Grande do Norte', 'PB':'Paraiba', 'PE':'Pernambuco', 'AL':'Alagoas', 'SE':'Sergipe',
'BA':'Bahia', 'MG':'Minas Gerais', 'ES':'Espirito Santo', 'RJ':'Rio de Janeiro', 'SP':'Sao Paulo', 'PR':'Parana',
'SC':'Santa Catarina', 'RS':'Rio Grande do Sul', 'MS':'Mato Grosso do Sul', 'MT':'Mato Grosso', 'GO':'Goias',
'DF':'Distrito Federal', 'RR':'Roraima','AP':'Amapa'})

In [9]:
import string
keepgroups = [u'Total',u'0-4',u'5-9',u'10-14',u'15-19',u'20-24',u'25-29',u'30-34',
              u'35-39',u'40-44',u'45-49',u'50-54',u'55-59',u'60-64',u'65-69',
              u'70-74',u'75-79',u'80-84',u'85-89',u'90+']

In [10]:
[x for x in complete_df.pop_group.unique() if x in keepgroups]

[u'Total',
 u'0-4',
 u'5-9',
 u'10-14',
 u'15-19',
 u'20-24',
 u'25-29',
 u'30-34',
 u'35-39',
 u'40-44',
 u'45-49',
 u'50-54',
 u'55-59',
 u'60-64',
 u'65-69',
 u'70-74',
 u'75-79',
 u'80-84',
 u'85-89',
 u'90+']

### 2015

In [11]:
pop2015 = complete_df[['pop_group','2015','state_city','groups']]
pop2015.head()

,pop_group,2015,state_city,groups
0,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS,NaN,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS
1,GRUPO ETÁRIO,2015.0,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS
2,Total,901750.0,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS
3,0-4,72081.0,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS
4,5-9,77348.0,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS

In [12]:
unique_groups  = pop2015.groups.unique()
print unique_groups

[u'POPULA\xc7\xc3O HOMENS - GRUPOS ET\xc1RIOS'
 u'POPULA\xc7\xc3O MULHERES - GRUPOS ET\xc1RIOS'
 u'POPULA\xc7\xc3O TOTAL - GRUPOS ET\xc1RIOS']

In [13]:
group_replace= {k:v for k,v in zip(unique_groups, ['men','women','total'])}
pop2015.groups = pop2015.groups.map(lambda x: group_replace[x])
pop2015 = pop2015[~(pop2015.groups == 'total')]

//anaconda/lib/python2.7/site-packages/pandas/core/generic.py:2698: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [14]:
pop2015 = pop2015[pop2015.pop_group.isin(keepgroups)]
pop2015 = pd.pivot_table(pop2015, index=['state_city','groups'], values=['2015'], columns=['pop_group'])['2015'].reset_index()
pop2015.head()

pop_group,state_city,groups,0-4,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,Total
0,Acre,men,43815.0,45220.0,42312.0,38035.0,34671.0,33595.0,28286.0,23033.0,...,14971.0,12156.0,9170.0,6274.0,4198.0,2779.0,1624.0,846.0,432.0,405421.0
1,Acre,women,42034.0,43932.0,40986.0,37591.0,33763.0,32871.0,27868.0,22784.0,...,15056.0,11994.0,8992.0,6340.0,4888.0,3217.0,1901.0,1013.0,544.0,398092.0
2,Alagoas,men,148359.0,169921.0,157927.0,140868.0,134261.0,138969.0,121086.0,99239.0,...,73892.0,58743.0,46828.0,34554.0,23261.0,14708.0,8156.0,3901.0,1997.0,1625464.0
3,Alagoas,women,141281.0,164954.0,158550.0,146162.0,144421.0,146889.0,129736.0,109004.0,...,82630.0,67367.0,54683.0,41239.0,30709.0,21695.0,13478.0,6875.0,3886.0,1715038.0
4,Amapa,men,39913.0,43802.0,41180.0,37836.0,33788.0,31644.0,26643.0,23777.0,...,15431.0,11502.0,7899.0,4933.0,3343.0,1968.0,1069.0,493.0,266.0,386668.0

In [15]:
pop2015m = pop2015[pop2015.groups == 'men']
pop2015w = pop2015[pop2015.groups == 'women']

pop2015m.drop(['groups'], axis=1, inplace=True)
pop2015w.drop(['groups'], axis=1, inplace=True)

pop2015m.columns = ['state_city']+['men2015_'+x for x in pop2015m.columns[1:]]
pop2015w.columns = ['state_city']+['women2015_'+x for x in pop2015w.columns[1:]]

pop2015mw = pop2015m.merge(pop2015w, on='state_city')
pop2015mw.reset_index(inplace=True, drop=True)

print pop2015mw.columns
print pop2015mw.shape
pop2015mw.head()

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Index([     u'state_city',     u'men2015_0-4',   u'men2015_10-14',
         u'men2015_15-19',   u'men2015_20-24',   u'men2015_25-29',
         u'men2015_30-34',   u'men2015_35-39',   u'men2015_40-44',
         u'men2015_45-49',     u'men2015_5-9',   u'men2015_50-54',
         u'men2015_55-59',   u'men2015_60-64',   u'men2015_65-69',
         u'men2015_70-74',   u'men2015_75-79',   u'men2015_80-84',
         u'men2015_85-89',     u'men2015_90+',   u'men2015_Total',
         u'women2015_0-4', u'women2015_10-14', u'women2015_15-19',
       u'women2015_20-24', u'women2015_25-29', u'women2015_30-34',
       u'women2015_35-39', u'women2015_40-44', u'women2015_45-49',
         u'women2015_5-9', u'women2015_50-54', u'women2015_55-59',
       u'women2015_60-64', u'women2015_65-69', u'women2015_70-74',
       u'women2015_75-79', u'women2015_80-84', u'women2015_85-89',
         u'women2015_90+', u'women2015_Total'],
      dtype='object')
(27, 41)

,state_city,men2015_0-4,men2015_10-14,men2015_15-19,men2015_20-24,men2015_25-29,men2015_30-34,men2015_35-39,men2015_40-44,men2015_45-49,...,women2015_50-54,women2015_55-59,women2015_60-64,women2015_65-69,women2015_70-74,women2015_75-79,women2015_80-84,women2015_85-89,women2015_90+,women2015_Total
0,Acre,43815.0,45220.0,42312.0,38035.0,34671.0,33595.0,28286.0,23033.0,19037.0,...,15056.0,11994.0,8992.0,6340.0,4888.0,3217.0,1901.0,1013.0,544.0,398092.0
1,Alagoas,148359.0,169921.0,157927.0,140868.0,134261.0,138969.0,121086.0,99239.0,86572.0,...,82630.0,67367.0,54683.0,41239.0,30709.0,21695.0,13478.0,6875.0,3886.0,1715038.0
2,Amapa,39913.0,43802.0,41180.0,37836.0,33788.0,31644.0,26643.0,23777.0,19279.0,...,13632.0,10487.0,7631.0,4987.0,3494.0,2294.0,1434.0,695.0,452.0,380011.0
3,Amazonas,205834.0,213496.0,206400.0,195144.0,174206.0,166898.0,142634.0,117886.0,96250.0,...,77654.0,59878.0,44280.0,29982.0,21057.0,14474.0,8640.0,4212.0,2325.0,1949359.0
4,Bahia,590634.0,672990.0,660736.0,629905.0,641928.0,710370.0,616137.0,501438.0,441385.0,...,397177.0,335582.0,265011.0,209529.0,160346.0,119190.0,75495.0,43589.0,26482.0,7686564.0

In [16]:
# reproductive age man from 15 to 44
# Chilbearing age woman is from 15 to 44
pop2015mw['men2015_15-44'] = (pop2015mw['men2015_15-19']+pop2015mw['men2015_20-24']+pop2015mw['men2015_25-29']+
                               pop2015mw['men2015_30-34']+pop2015mw['men2015_35-39']+pop2015mw['men2015_40-44']) 
##
pop2015mw['women2015_15-44'] = (pop2015mw['women2015_15-19']+pop2015mw['women2015_20-24']+pop2015mw['women2015_25-29']+
                               pop2015mw['women2015_30-34']+pop2015mw['women2015_35-39']+pop2015mw['women2015_40-44'])
##
pop2015mw['tot_men_women2015'] = (pop2015mw['men2015_Total'] + pop2015mw['women2015_Total'])

# ##
# pop2015mw['tot2015_0-4'] = (pop2015mw['men2015_0-4'] + pop2015mw['women2015_0-4'])

# ## Population 0to4 what percent are they from the total population?
# pop2015mw['tot2015_0-4_perc'] = (pop2015mw['tot2015_0-4']*100)/(pop2015mw['tot_men_women2015'])

In [17]:
pop2015 = pop2015mw[['state_city', 'men2015_15-44','women2015_15-44','tot_men_women2015']]
# 'tot2015_0-4_perc'
pop2015.head(2)

  state_city  men2015_15-44  women2015_15-44  tot_men_women2015
0       Acre       199932.0         195863.0           803513.0
1    Alagoas       792350.0         834762.0          3340502.0

In [63]:
f = open('pop2015.save', 'wb')
cPickle.dump(pop2015,f)
f.close()

### 2016

In [18]:
pop2016 = complete_df[['pop_group','2016','state_city','groups']]
pop2016.head(2)

,pop_group,2016,state_city,groups
0,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS,NaN,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS
1,GRUPO ETÁRIO,2016.0,Rondonia,POPULAÇÃO HOMENS - GRUPOS ETÁRIOS

In [19]:
unique_groups  = pop2016.groups.unique()
print unique_groups

[u'POPULA\xc7\xc3O HOMENS - GRUPOS ET\xc1RIOS'
 u'POPULA\xc7\xc3O MULHERES - GRUPOS ET\xc1RIOS'
 u'POPULA\xc7\xc3O TOTAL - GRUPOS ET\xc1RIOS']

In [20]:
group_replace= {k:v for k,v in zip(unique_groups, ['men','women','total'])}
pop2016.groups = pop2016.groups.map(lambda x: group_replace[x])
pop2016 = pop2016[~(pop2016.groups == 'total')]

In [21]:
pop2016 = pop2016[pop2016.pop_group.isin(keepgroups)]
pop2016 = pd.pivot_table(pop2016, index=['state_city','groups'], values=['2016'], columns=['pop_group'])['2016'].reset_index()
pop2016.head()

pop_group,state_city,groups,0-4,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,50-54,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90+,Total
0,Acre,men,43433.0,45300.0,43105.0,38776.0,35050.0,33967.0,29362.0,23881.0,...,15564.0,12554.0,9602.0,6624.0,4379.0,2865.0,1681.0,867.0,456.0,411880.0
1,Acre,women,41656.0,43973.0,41646.0,38383.0,34207.0,33183.0,28940.0,23698.0,...,15665.0,12459.0,9466.0,6652.0,5062.0,3422.0,2002.0,1066.0,581.0,404807.0
2,Alagoas,men,145331.0,168262.0,158811.0,141035.0,132661.0,137934.0,124591.0,102090.0,...,75808.0,60711.0,48150.0,35931.0,24221.0,15214.0,8437.0,4007.0,2052.0,1632243.0
3,Alagoas,women,138333.0,162665.0,159538.0,146295.0,143236.0,146963.0,133531.0,112065.0,...,85082.0,69628.0,56493.0,42894.0,31737.0,22439.0,14069.0,7217.0,4076.0,1726284.0
4,Amapa,men,39540.0,43609.0,42405.0,38831.0,34538.0,32311.0,27514.0,24424.0,...,16127.0,12184.0,8441.0,5313.0,3503.0,2098.0,1132.0,525.0,283.0,394366.0

In [22]:
pop2016m = pop2016[pop2016.groups == 'men']
pop2016w = pop2016[pop2016.groups == 'women']

pop2016m.drop(['groups'], axis=1, inplace=True)
pop2016w.drop(['groups'], axis=1, inplace=True)

pop2016m.columns = ['state_city']+['men2016_'+x for x in pop2016m.columns[1:]]
pop2016w.columns = ['state_city']+['women2016_'+x for x in pop2016w.columns[1:]]

pop2016mw = pop2016m.merge(pop2016w, on='state_city')
pop2016mw.reset_index(inplace=True, drop=True)

print pop2016mw.columns
print pop2016mw.shape
pop2016mw.head()

Index([     u'state_city',     u'men2016_0-4',   u'men2016_10-14',
         u'men2016_15-19',   u'men2016_20-24',   u'men2016_25-29',
         u'men2016_30-34',   u'men2016_35-39',   u'men2016_40-44',
         u'men2016_45-49',     u'men2016_5-9',   u'men2016_50-54',
         u'men2016_55-59',   u'men2016_60-64',   u'men2016_65-69',
         u'men2016_70-74',   u'men2016_75-79',   u'men2016_80-84',
         u'men2016_85-89',     u'men2016_90+',   u'men2016_Total',
         u'women2016_0-4', u'women2016_10-14', u'women2016_15-19',
       u'women2016_20-24', u'women2016_25-29', u'women2016_30-34',
       u'women2016_35-39', u'women2016_40-44', u'women2016_45-49',
         u'women2016_5-9', u'women2016_50-54', u'women2016_55-59',
       u'women2016_60-64', u'women2016_65-69', u'women2016_70-74',
       u'women2016_75-79', u'women2016_80-84', u'women2016_85-89',
         u'women2016_90+', u'women2016_Total'],
      dtype='object')
(27, 41)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,state_city,men2016_0-4,men2016_10-14,men2016_15-19,men2016_20-24,men2016_25-29,men2016_30-34,men2016_35-39,men2016_40-44,men2016_45-49,...,women2016_50-54,women2016_55-59,women2016_60-64,women2016_65-69,women2016_70-74,women2016_75-79,women2016_80-84,women2016_85-89,women2016_90+,women2016_Total
0,Acre,43433.0,45300.0,43105.0,38776.0,35050.0,33967.0,29362.0,23881.0,19706.0,...,15665.0,12459.0,9466.0,6652.0,5062.0,3422.0,2002.0,1066.0,581.0,404807.0
1,Alagoas,145331.0,168262.0,158811.0,141035.0,132661.0,137934.0,124591.0,102090.0,87992.0,...,85082.0,69628.0,56493.0,42894.0,31737.0,22439.0,14069.0,7217.0,4076.0,1726284.0
2,Amapa,39540.0,43609.0,42405.0,38831.0,34538.0,32311.0,27514.0,24424.0,20141.0,...,14273.0,11039.0,8129.0,5350.0,3667.0,2420.0,1509.0,752.0,479.0,387929.0
3,Amazonas,203819.0,214222.0,207688.0,198860.0,177023.0,168795.0,147442.0,122219.0,99528.0,...,80175.0,62822.0,46731.0,31841.0,21931.0,15041.0,9093.0,4449.0,2466.0,1981297.0
4,Bahia,580397.0,666162.0,656012.0,624110.0,626940.0,701285.0,637492.0,517432.0,448319.0,...,406648.0,346297.0,275275.0,216525.0,165416.0,122989.0,78660.0,45207.0,27858.0,7732758.0

In [23]:
# reproductive age man from 15 to 44
# Chilbearing age woman is from 15 to 44
pop2016mw['men2016_15-44'] = (pop2016mw['men2016_15-19']+pop2016mw['men2016_20-24']+pop2016mw['men2016_25-29']+
                               pop2016mw['men2016_30-34']+pop2016mw['men2016_35-39']+pop2016mw['men2016_40-44']) 
##
pop2016mw['women2016_15-44'] = (pop2016mw['women2016_15-19']+pop2016mw['women2016_20-24']+pop2016mw['women2016_25-29']+
                               pop2016mw['women2016_30-34']+pop2016mw['women2016_35-39']+pop2016mw['women2016_40-44'])
##
pop2016mw['tot_men_women2016'] = (pop2016mw['men2016_Total'] + pop2016mw['women2016_Total'])

##
pop2016mw['tot2016_0-4'] = (pop2016mw['men2016_0-4'] + pop2016mw['women2016_0-4'])

## Population 0to4 what percent are they from the total population?
pop2016mw['tot2016_0-4_perc'] = (pop2016mw['tot2016_0-4']*100)/(pop2016mw['tot_men_women2016'])

In [24]:
pop2016 = pop2016mw[['state_city', 'men2016_15-44','women2016_15-44','tot_men_women2016', 'tot2016_0-4_perc']]
pop2016.head(2)

,state_city,men2016_15-44,women2016_15-44,tot_men_women2016,tot2016_0-4_perc
0,Acre,204141.0,200057.0,816687.0,10.418802
1,Alagoas,797122.0,841628.0,3358527.0,8.446084

In [64]:
f = open('pop2016.save', 'wb')
cPickle.dump(pop2016,f)
f.close()

### Estimated population by month 2016

In [25]:
pop_month2016= pd.read_excel(open('../brazil_pop_growth/reduced_month_pop.xlsx', 'rb'), 
                                     sheetname=0, header=0,
                                     index_col =0, skiprows =0,
                                     parse_cols = 'G:AH',convert_float = True
                                    )
pop_month2016 = pop_month2016.reset_index()
print pop_month2016.shape
print "++++++++++++++++++\n"
print pop_month2016.info()

(12, 28)
++++++++++++++++++

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 28 columns):
DATA                   12 non-null datetime64[ns]
Rondonia               12 non-null int64
Acre                   12 non-null int64
Amazonas               12 non-null int64
Roraima                12 non-null int64
Para                   12 non-null int64
Amapa                  12 non-null int64
Tocantins              12 non-null int64
Maranhao               12 non-null int64
Piaui                  12 non-null int64
Ceara                  12 non-null int64
Rio Grande do Norte    12 non-null int64
Paraiba                12 non-null int64
Pernambuco             12 non-null int64
Alagoas                12 non-null int64
Sergipe                12 non-null int64
Bahia                  12 non-null int64
Minas Gerais           12 non-null int64
Espirito Santo         12 non-null int64
Rio de Janeiro         12 non-null int64
Sao Paulo              12 non-null int64
Parana                 12 non-null int64
Santa Catarina         12 non-null int64
Rio Grande do Sul      12 non-null int64
Mato Grosso do Sul     12 non-null int64
Mato Grosso            12 non-null int64
Goias                  12 non-null int64
Distrito Federal       12 non-null int64
dtypes: datetime64[ns](1), int64(27)
memory usage: 2.7 KB
None

In [26]:
pop_month2016 = pop_month2016.head(12).T.reset_index()

In [27]:
pop_month2016.head(2)

,index,0,1,2,3,4,5,6,7,8,9,10,11
0,DATA,2016-01-01 00:00:00,2016-02-01 00:00:00,2016-03-01 00:00:00,2016-04-01 00:00:00,2016-05-01 00:00:00,2016-06-01 00:00:00,2016-07-01 00:00:00,2016-08-01 00:00:00,2016-09-01 00:00:00,2016-10-01 00:00:00,2016-11-01 00:00:00,2016-12-01 00:00:00
1,Rondonia,1778008,1779600,1781187,1782770,1784349,1785924,1787495,1789061,1790624,1792182,1793736,1795286

In [28]:
pop_month2016.columns.tolist()

['index', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [29]:
## Renaming Columns
pop_month2016.rename(columns={'index':'state_city', 0:'pop2016_jan', 1:'pop2016_feb', 2:'pop2016_march', 3:'pop2016_apr', 4:'pop2016_may',
                              5:'pop2016_june', 6:'pop2016_jul', 7:'pop2016_aug', 8:'pop2016_sep', 9:'pop2016_oct',
                              10:'pop2016_nov', 11:'pop2016_dec'}, inplace=True)

In [30]:
pop_month2016.drop(0, axis=0, inplace=True)

In [31]:
pop_month2016.head()

,state_city,pop2016_jan,pop2016_feb,pop2016_march,pop2016_apr,pop2016_may,pop2016_june,pop2016_jul,pop2016_aug,pop2016_sep,pop2016_oct,pop2016_nov,pop2016_dec
1,Rondonia,1778008,1779600,1781187,1782770,1784349,1785924,1787495,1789061,1790624,1792182,1793736,1795286
2,Acre,809868,810965,812061,813156,814249,815340,816430,817518,818605,819690,820773,821855
3,Amazonas,3969162,3974418,3979665,3984903,3990132,3995353,4000564,4005766,4010960,4016144,4021319,4026485
4,Roraima,510969,511671,512372,513071,513768,514463,515157,515850,516541,517230,517917,518603
5,Para,8218939,8227094,8235229,8243344,8251439,8259513,8267567,8275601,8283614,8291608,8299580,8307533

In [32]:
pop_month2016 = pop_month2016[['state_city', 'pop2016_feb', 'pop2016_march', 'pop2016_apr', 'pop2016_may','pop2016_june']]

In [33]:
print pop_month2016.columns.unique().tolist()

['state_city', 'pop2016_feb', 'pop2016_march', 'pop2016_apr', 'pop2016_may', 'pop2016_june']

In [65]:
f = open('pop_month2016.save', 'wb')
cPickle.dump(pop_month2016,f)
f.close()

### Merging 2016 data with Pop by month

In [34]:
print pop_month2016.shape, pop2016.shape

(27, 6) (27, 5)

In [35]:
print pop_month2016.state_city.unique().tolist()
print "\n+++++++++++++++\n"
print pop2016.state_city.unique().tolist()

[u'Rondonia', u'Acre', u'Amazonas', u'Roraima', u'Para', u'Amapa', u'Tocantins', u'Maranhao', u'Piaui', u'Ceara', u'Rio Grande do Norte', u'Paraiba', u'Pernambuco', u'Alagoas', u'Sergipe', u'Bahia', u'Minas Gerais', u'Espirito Santo', u'Rio de Janeiro', u'Sao Paulo', u'Parana', u'Santa Catarina', u'Rio Grande do Sul', u'Mato Grosso do Sul', u'Mato Grosso', u'Goias', u'Distrito Federal']

+++++++++++++++

['Acre', 'Alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara', 'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Para', 'Paraiba', 'Parana', 'Pernambuco', 'Piaui', 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rio de Janeiro', 'Rondonia', 'Roraima', 'Santa Catarina', 'Sao Paulo', 'Sergipe', 'Tocantins']

In [36]:
bz_perct = pop2016.merge(pop_month2016, on='state_city')
bz_perct.head(2)

,state_city,men2016_15-44,women2016_15-44,tot_men_women2016,tot2016_0-4_perc,pop2016_feb,pop2016_march,pop2016_apr,pop2016_may,pop2016_june
0,Acre,204141.0,200057.0,816687.0,10.418802,810965,812061,813156,814249,815340
1,Alagoas,797122.0,841628.0,3358527.0,8.446084,3351282,3352778,3354266,3355745,3357217

In [37]:
import cPickle
f = open('bz_perct.save', 'wb')
cPickle.dump(bz_perct,f)
f.close()

In [38]:
print bz_perct.columns.unique().tolist()

['state_city', 'men2016_15-44', 'women2016_15-44', 'tot_men_women2016', 'tot2016_0-4_perc', 'pop2016_feb', 'pop2016_march', 'pop2016_apr', 'pop2016_may', 'pop2016_june']

In [39]:
bz_perct['child_0-4_feb2016'] = (bz_perct['tot2016_0-4_perc']*bz_perct['pop2016_feb'])/100
bz_perct['child_0-4_march2016'] = (bz_perct['tot2016_0-4_perc']*bz_perct['pop2016_march'])/100
bz_perct['child_0-4_apr2016'] = (bz_perct['tot2016_0-4_perc']*bz_perct['pop2016_apr'])/100
bz_perct['child_0-4_may2016'] = (bz_perct['tot2016_0-4_perc']*bz_perct['pop2016_may'])/100
bz_perct['child_0-4_jun2016'] = (bz_perct['tot2016_0-4_perc']*bz_perct['pop2016_june'])/100

In [40]:
bz_perct.head(2)

,state_city,men2016_15-44,women2016_15-44,tot_men_women2016,tot2016_0-4_perc,pop2016_feb,pop2016_march,pop2016_apr,pop2016_may,pop2016_june,child_0-4_feb2016,child_0-4_march2016,child_0-4_apr2016,child_0-4_may2016,child_0-4_jun2016
0,Acre,204141.0,200057.0,816687.0,10.418802,810965,812061,813156,814249,815340,84492.8,84607,84721.1,84835,84948.7
1,Alagoas,797122.0,841628.0,3358527.0,8.446084,3351282,3352778,3354266,3355745,3357217,283052,283178,283304,283429,283553

In [41]:
print bz_perct.columns.unique().tolist()

['state_city', 'men2016_15-44', 'women2016_15-44', 'tot_men_women2016', 'tot2016_0-4_perc', 'pop2016_feb', 'pop2016_march', 'pop2016_apr', 'pop2016_may', 'pop2016_june', 'child_0-4_feb2016', 'child_0-4_march2016', 'child_0-4_apr2016', 'child_0-4_may2016', 'child_0-4_jun2016']

In [42]:
pop2016_pct = bz_perct[['state_city', 'men2016_15-44', 'women2016_15-44', 'tot_men_women2016',
                       'child_0-4_feb2016', 'child_0-4_march2016', 'child_0-4_apr2016', 'child_0-4_may2016',
                        'child_0-4_jun2016']]

In [43]:
pop2016_pct.head(2)

,state_city,men2016_15-44,women2016_15-44,tot_men_women2016,child_0-4_feb2016,child_0-4_march2016,child_0-4_apr2016,child_0-4_may2016,child_0-4_jun2016
0,Acre,204141.0,200057.0,816687.0,84492.8,84607,84721.1,84835,84948.7
1,Alagoas,797122.0,841628.0,3358527.0,283052,283178,283304,283429,283553

## Brazil areas, income
http://www.ibge.gov.br/home/geociencias/areaterritorial/principal.shtm


http://www.ibge.gov.br/estadosat/index.php

In [44]:
brazil_areas = pd.read_excel(open('../brazil_area_states/area_states.xls', 'rb'), 
                                     sheetname=0, header=0,
                                     index_col =0, skiprows =1,
                                     parse_cols = 'B:J',convert_float = True
                                    )
brazil_areas = brazil_areas.reset_index()
print brazil_areas.shape
print "++++++++++++++++++\n"
print brazil_areas.info()

(27, 9)
++++++++++++++++++

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 9 columns):
state_city              27 non-null object
capital                 27 non-null object
region                  27 non-null object
area_km_2               27 non-null float64
percap_inc_month        27 non-null int64
migration_index_2009    27 non-null float64
water_supply            27 non-null int64
toilett_sewarage        27 non-null int64
garbage_collection      27 non-null int64
dtypes: float64(2), int64(4), object(3)
memory usage: 2.0+ KB
None

In [45]:
brazil_areas

,state_city,capital,region,area_km_2,percap_inc_month,migration_index_2009,water_supply,toilett_sewarage,garbage_collection
0,Rondonia,Porto Velho,north,237590.543,822,0.0307,558011,1112057,1061417
1,Acre,Rio Branco,north,164123.739,752,0.0013,309268,494967,480224
2,Amazonas,Manaus,north,1559148.890,752,0.2787,2074991,2646457,2512710
3,Roraima,Boa Vista,north,224303.187,1008,0.0225,328661,339633,332016
4,Para,Bethlehem,north,1247954.320,672,-0.1505,3029918,5096404,4749955
5,Amapa,Macapa,north,142828.520,849,0.2870,292675,515912,508198
6,Tocantins,Palmas,north,277720.569,818,-0.2431,1006844,1055828,1010516
7,Maranhao,St. Louis,northeast,331936.948,509,-0.1052,3385992,410774,3366745
8,Piaui,Teresina,northeast,251611.932,729,-0.1672,1883899,1946071,1790108
9,Ceara,Fortress,northeast,148886.308,680,-0.0226,5575833,6004977,5737435
10,Rio Grande do Norte,Christmas,northeast,52811.126,818,0.2379,2350208,2426285,2383269
11,Paraiba,Joao Pessoa,northeast,56469.744,776,0.0232,2633916,2782729,2704281
12,Pernambuco,Recife,northeast,98076.109,822,-0.0315,5333507,6046819,5807287
13,Alagoas,Maceio,northeast,27848.003,598,-0.2953,1803606,2214305,2163464
14,Sergipe,Aracaju,northeast,21918.493,782,0.0157,1419244,1487582,1455905
15,Bahia,Salvador,northeast,564733.081,736,-0.2099,8629447,8991908,8711092
16,Minas Gerais,Belo Horizonte,southeast,586519.727,1128,0.0216,15988452,16380125,16070952
17,Espirito Santo,Vitoria,southeast,46096.925,1074,0.3254,2679703,2760935,2713975
18,Rio de Janeiro,Rio de Janeiro,southeast,43777.954,1285,-0.0784,12200996,14320338,13996850
19,Sao Paulo,Sao Paulo,southeast,248222.362,1482,-0.0474,36825603,37436978,37355378
20,Parana,Curitiba,south,199307.945,1241,0.0845,8480499,8645118,8600749
21,Santa Catarina,Florianopolis,south,95733.978,1368,0.2611,4479273,4818588,4796232
22,Rio Grande do Sul,Porto Alegre,south,281731.445,1435,-0.0687,8237695,4878367,8738535
23,Mato Grosso do Sul,Campo Grande,center-west,357145.534,1045,0.0712,1892977,2038699,2019815
24,Mato Grosso,Cuiaba,center-west,903378.292,1055,-0.0710,2125648,2404400,2350042
25,Goias,Goiania,center-west,340111.376,1077,0.3234,4607834,5351325,5285383
26,Distrito Federal,Brasilia,center-west,5779.999,2252,0.0412,2389727,2449422,2426418

In [66]:
f = open('brazil_areas.save', 'wb')
cPickle.dump(brazil_areas,f)
f.close()

In [46]:
## Changing Reis to US dollar
# 1 USD = 3.42 reals
brazil_areas['percap_inc_month'] = (brazil_areas['percap_inc_month']/3.42)

In [47]:
brazil_areas.head(2)

,state_city,capital,region,area_km_2,percap_inc_month,migration_index_2009,water_supply,toilett_sewarage,garbage_collection
0,Rondonia,Porto Velho,north,237590.543,240.350877,0.0307,558011,1112057,1061417
1,Acre,Rio Branco,north,164123.739,219.883041,0.0013,309268,494967,480224

In [48]:
f = open('brazil_areas.save', 'wb')
cPickle.dump(brazil_areas,f)
f.close()

## Brazil Deforestation
http://rainforests.mongabay.com/20brazil.htm

In [49]:
# brazil_deforestation = pd.read_excel(open('../brazil_deforestation/deforestation_mongabay.xlsx', 'rb'), 
#                                      sheetname=0, header=0,
#                                      index_col =0, skiprows =3,
#                                      parse_cols = 'A:J',convert_float = True
#                                     )
# brazil_deforestation = brazil_deforestation.reset_index()
# brazil_deforestation

In [50]:
# brazil_deforestation.info()

### Merging POP data and demographics data

In [51]:
print pop2015.shape, pop2016_pct.shape, brazil_areas.shape

(27, 4) (27, 9) (27, 9)

In [52]:
brazil_areas.state_city.sort

print brazil_areas.state_city.unique().tolist()
print "+++++++++++++++++++++++\n"
print pop2016_pct.state_city.unique().tolist()
print "+++++++++++++++++++++++\n"
print pop2015.state_city.unique().tolist()

[u'Rondonia', u'Acre', u'Amazonas', u'Roraima', u'Para', u'Amapa', u'Tocantins', u'Maranhao', u'Piaui', u'Ceara', u'Rio Grande do Norte', u'Paraiba', u'Pernambuco', u'Alagoas', u'Sergipe', u'Bahia', u'Minas Gerais', u'Espirito Santo', u'Rio de Janeiro', u'Sao Paulo', u'Parana', u'Santa Catarina', u'Rio Grande do Sul', u'Mato Grosso do Sul', u'Mato Grosso', u'Goias', u'Distrito Federal']
+++++++++++++++++++++++

['Acre', 'Alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara', 'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Para', 'Paraiba', 'Parana', 'Pernambuco', 'Piaui', 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rio de Janeiro', 'Rondonia', 'Roraima', 'Santa Catarina', 'Sao Paulo', 'Sergipe', 'Tocantins']
+++++++++++++++++++++++

['Acre', 'Alagoas', 'Amapa', 'Amazonas', 'Bahia', 'Ceara', 'Distrito Federal', 'Espirito Santo', 'Goias', 'Maranhao', 'Mato Grosso', 'Mato Grosso do Sul', 'Minas Gerais', 'Para', 'Paraiba', 'Parana', 'Pernambuco', 'Piaui', 'Rio Grande do Norte', 'Rio Grande do Sul', 'Rio de Janeiro', 'Rondonia', 'Roraima', 'Santa Catarina', 'Sao Paulo', 'Sergipe', 'Tocantins']

In [53]:
brazil_pre_clean = pop2015.merge(pop2016_pct, on='state_city')
brazil_pre_clean = brazil_pre_clean.merge(brazil_areas, on='state_city')
print brazil_pre_clean.shape
brazil_pre_clean.head(2)

(27, 20)

,state_city,men2015_15-44,women2015_15-44,tot_men_women2015,men2016_15-44,women2016_15-44,tot_men_women2016,child_0-4_feb2016,child_0-4_march2016,child_0-4_apr2016,child_0-4_may2016,child_0-4_jun2016,capital,region,area_km_2,percap_inc_month,migration_index_2009,water_supply,toilett_sewarage,garbage_collection
0,Acre,199932.0,195863.0,803513.0,204141.0,200057.0,816687.0,84492.8,84607,84721.1,84835,84948.7,Rio Branco,north,164123.739,219.883041,0.0013,309268,494967,480224
1,Alagoas,792350.0,834762.0,3340502.0,797122.0,841628.0,3358527.0,283052,283178,283304,283429,283553,Maceio,northeast,27848.003,174.853801,-0.2953,1803606,2214305,2163464

In [54]:
# f = open('brazil_pre_clean.save', 'wb')
# cPickle.dump(brazil_pre_clean,f)
# f.close()

In [55]:
# Population density calculation
brazil_pre_clean['pop_dens_2015'] = (brazil_pre_clean['tot_men_women2015']/brazil_pre_clean['area_km_2'])
brazil_pre_clean['pop_dens_2016'] = (brazil_pre_clean['tot_men_women2016']/brazil_pre_clean['area_km_2'])

In [56]:
brazil_pre_clean[['state_city','tot_men_women2015','pop_dens_2015','tot_men_women2016','pop_dens_2016','area_km_2']].head(2)

,state_city,tot_men_women2015,pop_dens_2015,tot_men_women2016,pop_dens_2016,area_km_2
0,Acre,803513.0,4.895776,816687.0,4.976044,164123.739
1,Alagoas,3340502.0,119.954813,3358527.0,120.602077,27848.003

In [57]:
print brazil_pre_clean.columns.unique().tolist()

['state_city', 'men2015_15-44', 'women2015_15-44', 'tot_men_women2015', 'men2016_15-44', 'women2016_15-44', 'tot_men_women2016', 'child_0-4_feb2016', 'child_0-4_march2016', 'child_0-4_apr2016', 'child_0-4_may2016', 'child_0-4_jun2016', u'capital', u'region', u'area_km_2', u'percap_inc_month', u'migration_index_2009', u'water_supply', u'toilett_sewarage', u'garbage_collection', 'pop_dens_2015', 'pop_dens_2016']

In [58]:
brazil_pre_clean = brazil_pre_clean[['state_city', 'men2015_15-44', 'women2015_15-44', 'men2016_15-44', 
'women2016_15-44', 'child_0-4_feb2016', 'child_0-4_march2016', 'child_0-4_apr2016', 
'child_0-4_may2016', 'child_0-4_jun2016', u'capital', u'region', u'area_km_2', u'percap_inc_month', 
u'migration_index_2009', u'water_supply', u'toilett_sewarage', u'garbage_collection', 'pop_dens_2015', 
'pop_dens_2016']]

In [59]:
brazil_pre_clean.head(2)

,state_city,men2015_15-44,women2015_15-44,men2016_15-44,women2016_15-44,child_0-4_feb2016,child_0-4_march2016,child_0-4_apr2016,child_0-4_may2016,child_0-4_jun2016,capital,region,area_km_2,percap_inc_month,migration_index_2009,water_supply,toilett_sewarage,garbage_collection,pop_dens_2015,pop_dens_2016
0,Acre,199932.0,195863.0,204141.0,200057.0,84492.8,84607,84721.1,84835,84948.7,Rio Branco,north,164123.739,219.883041,0.0013,309268,494967,480224,4.895776,4.976044
1,Alagoas,792350.0,834762.0,797122.0,841628.0,283052,283178,283304,283429,283553,Maceio,northeast,27848.003,174.853801,-0.2953,1803606,2214305,2163464,119.954813,120.602077

In [60]:
brazil_pre_clean[['child_0-4_feb2016', 'child_0-4_march2016', 'child_0-4_apr2016', 'child_0-4_may2016' ]]

   child_0-4_feb2016 child_0-4_march2016 child_0-4_apr2016 child_0-4_may2016
0            84492.8               84607           84721.1             84835
1             283052              283178            283304            283429
2            77168.9             77297.4           77425.7             77554
3             395795              396318            396840            397360
4        1.13179e+06         1.13224e+06       1.13269e+06       1.13314e+06
5             678965              679336            679707            680076
6             207726              208095            208464            208833
7             266520              266767            267013            267258
8             454891              455375            455859            456341
9             658487              658886            659283            659679
10            254375              254633            254891            255149
11            203594              203792            203989            204186
12       1.34935e+06         1.35004e+06       1.35073e+06       1.35141e+06
13            758286              759036            759784            760530
14            304484              304660            304835            305009
15            736713              737146            737577            738007
16            706551              706962            707372            707781
17            244525              244577            244628            244678
18            255057              255259            255460            255661
19            670592              670777            670961            671144
20       1.01577e+06          1.0162e+06       1.01663e+06       1.01706e+06
21            138202              138325            138448            138570
22           49915.5             49983.8             50052             50120
23            436056              436540            437024            437508
24       2.83304e+06          2.8349e+06       2.83675e+06       2.83859e+06
25            173659              173806            173952            174098
26            128668              128793            128917            129041

In [61]:
import cPickle
f = open('brazil_pre_clean.save', 'wb')
cPickle.dump(brazil_pre_clean,f)
f.close()

In [62]:
brazil_pre_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 0 to 26
Data columns (total 20 columns):
state_city              27 non-null object
men2015_15-44           27 non-null float64
women2015_15-44         27 non-null float64
men2016_15-44           27 non-null float64
women2016_15-44         27 non-null float64
child_0-4_feb2016       27 non-null object
child_0-4_march2016     27 non-null object
child_0-4_apr2016       27 non-null object
child_0-4_may2016       27 non-null object
child_0-4_jun2016       27 non-null object
capital                 27 non-null object
region                  27 non-null object
area_km_2               27 non-null float64
percap_inc_month        27 non-null float64
migration_index_2009    27 non-null float64
water_supply            27 non-null int64
toilett_sewarage        27 non-null int64
garbage_collection      27 non-null int64
pop_dens_2015           27 non-null float64
pop_dens_2016           27 non-null float64
dtypes: float64(9), int64(3), object(8)
memory usage: 4.4+ KB