# pivot tables and melt simple review

In [1]:
import pandas as pd
import numpy as np

In [27]:
beers = {
    'name':['coors','bud','natural light','keystone ice',
            'sierra nevada', 'sam adams', 'rolling rock',
            'odouls',
            'pbr','stella','chimay','magnolia','21amendment'],
    'class':['crap','crap','crap','crap',
             'mid','mid','mid',
             'notabeer',
             'pretentious','pretentious','pretentious','pretentious','pretentious']
}
beers['price'] = np.concatenate([np.array([1.5, 1.7, 1.2, 1.2]),
                                np.array([2., 1.9, 2.1]),
                                np.array([3.]),
                                np.array([0.5,3.5, 10., 15.,2.])])
beers['rating'] = np.random.normal(5, 2, size=13)

for k, v in beers.items():
    print k, len(v)
beers = pd.DataFrame(beers)
beers

rating 13
price 13
name 13
class 13

          class           name  price    rating
0          crap          coors    1.5  4.339575
1          crap            bud    1.7  5.619689
2          crap  natural light    1.2  5.263680
3          crap   keystone ice    1.2  5.829708
4           mid  sierra nevada    2.0  5.363263
5           mid      sam adams    1.9  6.019040
6           mid   rolling rock    2.1  3.793549
7      notabeer         odouls    3.0  5.756419
8   pretentious            pbr    0.5  5.808358
9   pretentious         stella    3.5  3.511048
10  pretentious         chimay   10.0  7.289555
11  pretentious       magnolia   15.0  3.705197
12  pretentious    21amendment    2.0  0.613007

In [30]:
beers_long = pd.melt(beers, id_vars=['name'])
beers_long.sort_values('name', axis=0)

             name variable        value
38    21amendment   rating     0.613007
25    21amendment    price            2
12    21amendment    class  pretentious
1             bud    class         crap
27            bud   rating      5.61969
14            bud    price          1.7
36         chimay   rating      7.28956
23         chimay    price           10
10         chimay    class  pretentious
26          coors   rating      4.33957
13          coors    price          1.5
0           coors    class         crap
16   keystone ice    price          1.2
29   keystone ice   rating      5.82971
3    keystone ice    class         crap
37       magnolia   rating       3.7052
24       magnolia    price           15
11       magnolia    class  pretentious
15  natural light    price          1.2
2   natural light    class         crap
28  natural light   rating      5.26368
7          odouls    class     notabeer
20         odouls    price            3
33         odouls   rating      5.75642
21            pbr    price          0.5
8             pbr    class  pretentious
34            pbr   rating      5.80836
19   rolling rock    price          2.1
6    rolling rock    class          mid
32   rolling rock   rating      3.79355
31      sam adams   rating      6.01904
5       sam adams    class          mid
18      sam adams    price          1.9
4   sierra nevada    class          mid
17  sierra nevada    price            2
30  sierra nevada   rating      5.36326
22         stella    price          3.5
35         stella   rating      3.51105
9          stella    class  pretentious

In [32]:
beer_class_summary = pd.pivot_table(beers, index='class', values=['rating','price'],
                                   aggfunc=[np.mean, np.std])

In [33]:
beer_class_summary

             mean                 std
            price    rating     price    rating
class
crap          1.4  5.263163  0.244949  0.658559
mid           2.0  5.058617  0.100000  1.143595
notabeer      3.0  5.756419       NaN       NaN
pretentious   6.2  4.185433  6.109419  2.535602

In [34]:
beers_long.head(3)

            name variable value
0          coors    class  crap
1            bud    class  crap
2  natural light    class  crap

In [40]:
def first_item(series):
    item = series.iloc[0]
    return item

new_beers_wide = pd.pivot_table(beers_long, index='name', values='value',
                                columns=['variable'], aggfunc=first_item)
new_beers_wide.reset_index()

variable           name        class price    rating
0           21amendment  pretentious     2  0.613007
1                   bud         crap   1.7   5.61969
2                chimay  pretentious    10   7.28956
3                 coors         crap   1.5   4.33957
4          keystone ice         crap   1.2   5.82971
5              magnolia  pretentious    15    3.7052
6         natural light         crap   1.2   5.26368
7                odouls     notabeer     3   5.75642
8                   pbr  pretentious   0.5   5.80836
9          rolling rock          mid   2.1   3.79355
10            sam adams          mid   1.9   6.01904
11        sierra nevada          mid     2   5.36326
12               stella  pretentious   3.5   3.51105